[2020-07-26 15:42] Djennez commented on #15727
The log entries don't seem to be related to Yoast.

Your sitemap is still crawlable by bots, it's just that it's showing a blank page on the sitemap because of a missing styling. There is curently a known bug in our plugin that can cause this, but this should be accompanied by certain errors, which I don't see on your website. This could be due to a number of reasons.

If it's not pressing that yo

[2020-07-26 16:02] NOARQ commented on #15727
@Djennez thanks for your detailed answer.
I would need to be able to read as I'm getting google search console 404 errors:
1] yoast is creating a "/feed" from my portfolios -it didn't before the update
2] Searchconsole is reading in the sitemap and can't find numerous image files. The problem is that google can't find those files 'cause they never existed, it seems are being creating by Yoast plug

[2020-07-26 17:30] emidez commented on #15711
Good afternoon,

I have the same problem, waiting for a solution.

Thank you.

[2020-07-26 20:27] silklink opened #15728 "Something went wrong while optimising the SEO data of your site. Please try again later"
* [ X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Upon installing the plugin it requests to index the content. I click to do this and I get the error - Something went wrong whi

[2020-07-27 06:31] Djennez commented on #15728
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-07-27 06:31] #15728 closed

[2020-07-27 07:10] Djennez commented on #15296
Since no additional information has been provided to replicate the issue I'm going to close this thread. There is an internal tracker for related issues which will possibly get solved in the near future. If this bug can be replicated from a default installation, please let us know how, and we can look into reopening this report.

[2020-07-27 07:10] #15296 closed

[2020-07-27 07:11] Djennez commented on #15523
I'm going to close this thread as I believe all questions have been answered. The filter bug has been brought forwards as a separate issue [here](https://github.com/Yoast/wordpress-seo/issues/15721)

[2020-07-27 07:11] #15523 closed

[2020-07-27 07:16] Djennez commented on #15667
I believe this is neither a bugreport nor a feature request, just bad data in the database that is connecting the wrong data to posts. Due to this, I'm closing this thread. If this really is a bugreport, please let me know and provide steps to reproduce the issue.

[2020-07-27 07:16] #15667 closed

[2020-07-27 07:18] Djennez commented on #15727
I'm going to close this thread due to it being / becoming a support thread. Please use this repository for bugreports only and use the support forums for support requests. If you are a premium customer, you can contact our support engineers directly as well.

[2020-07-27 07:18] #15727 closed

[2020-07-27 07:36] gocemitevski commented on #15296
@Djennez additional information have been provided on 25 May 2020. Please see comment [https://github.com/Yoast/wordpress-seo/issues/15296#issuecomment-633538178] above and reopen the issue.

[2020-07-27 07:47] Jerparx commented on #15711
A user is experiencing the same issue: https://wordpress.org/support/topic/indicator-under-publish-missing-in-version-14-6/#post-13173916

[2020-07-27 13:52] silklink commented on #15728
I followed the specific instructions set out by Yoast SEO

I'm actually pissed off now because I have completely wasted my time
reporting this bug

On Mon, 27 Jul 2020, 07:31 Djennez, <notifications@github.com> wrote:

[2020-07-27 14:58] DrizzlyOwl commented on #15726
Hello, I'm reopening this issue as I am also experiencing this exact error.

The plugin was updated on a local development (MAMP) environment, using the standard WordPress Plugin updater with the admin area.

The changed files were then committed and pushed to Git. Our deployment tool then cloned the repository down on the webserver.

I followed the advice of clearing OPCache (via restarting Apach

[2020-07-27 15:02] Beckseden opened #15734 "Wordpress reported error with yoast."
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### My website was not viewing correctly, and I was unable to see all my pages on (https://chicmouldings.com/wp-admin/edit.php?post_type=page) . I am using Divi theme on Wordpress

[2020-07-27 16:19] Djennez commented on #15734
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-07-27 16:19] #15734 closed

[2020-07-28 00:54] sowon27 opened #15736 "Fatal error when activating plugin"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
I updated the plugin yesterday and made the whole website bug. I then deactivated it, now when I try to reactivate it it says
"W

[2020-07-28 01:47] michaelbriantina commented on #12352
https://wordpress.org/support/topic/facebook-image-ogimage-cant-paste-url-any-more/

[2020-07-28 07:23] Djennez commented on #15736
This looks like an incomplete / corrupt installation. Please remove all Yoast plugin files manually and make sure the folder is completely gone from the plugins directory. Re-upload a fresh copy of the latest plugin and activate it again.

Closing this as it is a support request, and not a bugreport.

[2020-07-28 07:23] #15736 closed

[2020-07-28 09:28] yumyo commented on #2416
This is now causing a Fatal error. Would love to understand how to achieve the same with the new 'wpseo_frontend_presenters' but docs seem lacking any examples on existing meta.

[2020-07-28 10:09] andizer commented on #2416
You can hook into `wpseo_add_opengraph_images`. See for reference: [open-graph-image-generator.php](https://github.com/Yoast/wordpress-seo/blob/trunk/src/generators/open-graph-image-generator.php#L95)

The filter is receiving an instance of an image container. You can use the method `add_image_by_id` to add an image by its id. See [images.php](https://github.com/Yoast/wordpress-seo/blob/trunk/src/

[2020-07-28 10:20] rmens opened #15741 "Indexables CLI command never seems to finish"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
I tried to build the indexables database from the command line. But the command never seems to finish.

`root@prod-web:/var/www/

[2020-07-28 10:31] Djennez commented on #15741
@rmens can you check your database for the `yoast_indexables` table and see if there is a list of duplicate rows in there (I suspect somewhere at the end). If so, what type of objects are these?

[2020-07-28 10:49] rmens commented on #15741
@Djennez I checked, there are no duplicate rows as far a I can see (sorted by ID). There are still new IDs being created while the CLI shows 100%. These new entries are not duplicates.

[2020-07-28 11:01] yumyo commented on #2416
I have just tried, no og:image but this warning:
`[28-Jul-2020 11:00:00 UTC] PHP Warning:  call_user_func_array() expects parameter 1 to be a valid callback, function 'sp_success_archive_add_opengraph_image' not found or invalid function name in /app/wp-includes/class-wp-hook.php on line 287`

[2020-07-28 11:06] andizer commented on #2416
I see. Just copied the example, but forgot to check which method the filter is calling. It's fixed and should work:

[code]

[2020-07-28 11:13] yumyo commented on #2416
It seems to be a filter now  #15342

[2020-07-28 11:14] yumyo commented on #2416
it blows my mind releasing such an upgrade without proper docs ...

[2020-07-28 11:17] Djennez commented on #15741
Interesting. So it isn't actually finished, it just shows the 100%-mark too early.

How many objects does your site roughly possess (users, terms, tax's, posts)? Any idea if something might be interfering with the indexation output?

[2020-07-28 11:31] rmens commented on #15741
- wp_postmeta: 526.613 entries
- wp_posts: 87.302 entries
- wp_term_relationships: 78.783 entries
- wp_term_taxonomy: 29.000 entries
- wp_users: 22 entries

The site has one custom taxonomy and has wordfence enabled. I can't think of anything that is interfering with the output, but it seems very inaccurate on this site.

[2020-07-28 11:33] omarreiss opened #15744 "Plugin JavaScript refactor chores"
The JavaScript in Yoast SEO has accumulated quite some technical debt. In this issue we can keep track of refactor chores we can do to improve consistency in the JS code base.

- [ ] **Consistent casing of localized variables**. Currently localized variables use both `camelCase` and `snake_case`. This should be consistent.
- [ ] **Use wp.data everywhere**. We currently use Redux thunk in some plac

[2020-07-28 13:47] Pcosta88 commented on #6249
Please inform the customer of conversation # 633989 when this conversation has been closed.

[2020-07-28 14:34] mayada-ibrahim commented on #15711
Please inform the customer of conversation # 633169 when this conversation has been closed.

[2020-07-28 15:00] rmens commented on #15741
Another observation. The process seems to slow down a lot after reaching 100%.

Couning the 'created at' values, it starts with about 3400 rows per minute to 6 rows per minute.

[2020-07-28 15:23] jerturowetz commented on #2416
Sorry @andizer. I updated my example above with the right function name & with the filter switch.

[2020-07-28 16:31] mobilon commented on #15246
@herregroen Hey, any news on this issue?

I'm having to hit "update" on every post after we publish (almost 50 posts/day).

A fix to this issue would be much appreciated. :)

[2020-07-28 23:06] guyinpv commented on #15072
For any Googlers who stumble upon this. This issue appears fixed for me after Events Manager 5.9.8.1 update. The offending file has been updated with Yoast support.

[2020-07-29 03:33] michaelbriantina commented on #15711
Please inform the customer of conversation # 634395 when this conversation has been closed.

[2020-07-29 07:26] zanona opened #15750 "allow setting _yoast_wpseo_primary_* via WP Rest api meta fields"
I would like to being able to POST to `/wp-json/wp/v2/:post_type/:id` with a payload such:

[code]

and with that, setting the primary category of a post, as expected.

[2020-07-29 07:38] Djennez commented on #15750
Well, there's also [a request](https://github.com/Yoast/wordpress-seo/issues/6251) to get posts based on the primary. So it isn't strange to have away to set those ID's via the API either.

[2020-07-29 07:44] zanona commented on #15750
Nice! Would you guys recommend a possible workaround at the moment where we can set the primary category along with the request or as a side effect of the API action?

[2020-07-29 07:50] monbauza commented on #15472
Related forum topic: https://wordpress.org/support/topic/duplicate-entry-inserting-into-wp_yoast_indexable_hierarchy-table/

[2020-07-29 09:12] Djennez commented on #15741
@rmens I've discussed this with one of the architects. The amount of objects to be indexed is calculated beforehand, so if new objects get created after that calculation, they are not included in the percentage, but they are still indexed. Can it be that your website is continuously generating indexable objects? Are all posts handwritten?

[2020-07-29 09:23] rmens commented on #15741
@Djennez All posts are handwritten. There are about 6 articles published per day. The postmeta is not growing very rapidly.

The indexation is now 1131 minutes in and still processing articles. The most recent one was an article from 2018 according to the permalink. The permalink was not a duplicate. This seem to be legitimate articles that are not 'seen' on the first calculation.

[2020-07-29 10:06] monbauza commented on #3364
The problem also occurs in the meta description (I tested the `%%tag%%` and `%%ct_product_tag%%` variables in Yoast SEO v14.6.1). See screenshot below.

![image](https://user-images.githubusercontent.com/9658774/88786445-cd6b1980-d192-11ea-8540-da2397064395.png)

[2020-07-29 10:14] monbauza commented on #3364
Please inform the customer of conversation # 632641 when this conversation has been closed.

[2020-07-29 11:05] Leeonard commented on #12571
Hello, I still get it:

GET | https://my.yoast.com/api/sites/currentRedirected to:https://my.yoast.com/api/sites/current?url=https%3A%2F%2FXXXwebsitecensoredYYY | 404 Not Found+ | +WPSEO_MyYoast_Api_Request->do_request() | Plugin: wordpress-seo | 5 | 0.3342
-- | -- | -- | -- | -- | -- | --

[2020-07-29 11:33] Djennez commented on #12571
@Leeonard please provide additional details: which version are you running, what page is this call on?

[2020-07-29 17:07] Pcosta88 commented on #2751
https://github.com/Yoast/design/issues/312

[2020-07-29 17:07] Pcosta88 commented on #8850
related https://github.com/Yoast/design/issues/312

[2020-07-29 19:44] kstarcher commented on #15726
And just to follow up, I have since updated Yoast to 14.6.1 on 3 more sites, and one of them also failed in the same way and had to be updated via FTP. These are all on WP Engine hosting if that helps diagnose anything.

[2020-07-29 21:51] rmarcano commented on #11268
Please inform the customer of conversation # 634424 when this conversation has been closed.

[2020-07-30 01:58] galbaras commented on #15723
It's not assigned to the 14.7 milestone. Is it definitely going to be included?

Assuming this means that search engines can read the map, why is it a major issue?

[2020-07-30 06:42] Djennez commented on #15723
Yes

It is still a fatal error that can get people really confused. People who see an empty sitemap do not know that its source is still readable.

[2020-07-30 06:50] zanona commented on #15750
OK, just following here with a workaround which seems to work fine.
By manually creating the meta field _(in my case: `_yoast_wpseo_primary_product_category`)_ on the CPT, allows me to set its value through WordPress API and also has the expected result adjusting the dropdown on the post edit page _(it seems to take a while and needs cleaning browser cache for it to refresh accordingly, though)_.

[2020-07-30 08:24] virtualbird123 opened #15762 "Traffic Lights Incorrect on view products page"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

On the products page, the traffic lights added by the screen options don't match the product meta box.

### Please describe wha

[2020-07-30 08:40] Djennez commented on #15762
@virtualbird123 does the color stay wrong once you save / update a product that is showing different outcomes?

[2020-07-30 08:49] michaelbriantina commented on #15711
Please inform the customer of conversation # 634697 when this conversation has been closed.

[2020-07-30 09:03] mamta36 opened #15763 "Yoast plugin reacting differently with Wpbakery and Gutenberg page builder"
As my website has two-page builder  Wpbakery and Gutenberg. When I edit my page with Wpbakery, Yoast is showing readability score bad means showing a red symbol and giving two warning - '1 section of your text is longer than 250 words and is not separated by any subheadings' and another one Only 8.7% of the sentences contain transition words, which is not enough. And Green symbol for SEO. But when

[2020-07-30 09:05] Djennez commented on #15763
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-07-30 09:05] #15763 closed

[2020-07-30 09:28] virtualbird123 commented on #15762
Yep, I can provide login details if you want to nosey? x

On Thu, 30 Jul 2020 at 09:40, Djennez <notifications@github.com> wrote:

--

Anastasia Wilson
Virtual Bird
www.virtualbird.co.uk

Join the entrepreneur small business support group
<https://www.facebook.com/groups/941784579212374/> for free training,
accountability and guidance

[2020-07-30 09:36] Djennez commented on #15762
This is expected behavior. While viewing the post, there is an analysis worker that is checking the status of the analysis and updating the colors based on the content of the page. So this is kind of "live". The colors on the overview page are retrieved from the database. Those values are only saved when you update a post. So my guess is that the products that have different colors have been updat

[2020-07-30 09:40] rmens commented on #15741
We are now 2580 minutes in and the process is still running and filling the Indexables table. It seems to slow down even further with sometimes 3 entries per minute, sometimes 1 entry per minute. I wonder if it will ever finish.

On another site of ours the same problem occurs. The process is way beyond the original quotes 37 minutes and slows down a lot over time.

![Schermafbeelding 2020-07-30 o

[2020-07-30 10:03] virtualbird123 commented on #15762
But even when updating manually so when I save any changes, the overview
doesn't update

On Thu, 30 Jul 2020, 10:36 Djennez, <notifications@github.com> wrote:

[2020-07-30 10:47] Djennez commented on #15762
Ah, I read that wrong. Reopening. Have not made an attempt to reproduce this yet.

[2020-07-30 11:10] beckseden opened #15764 "Yoast Conflict - trying to report again with better information"
Hi

Please note - I am not technical, so please  don't tell me off for not being techincal enough and  just close the bug report (as happened previously)  if I have done this wrong. I am very willing to do my best to get the information to you, but am following tutorials as best I can as I am not a developer.

* [yes] I've read and understood the [contribution guidelines](https://github.com/Yoast/

[2020-07-30 11:45] Djennez commented on #15764
@beckseden can you please:
- post the complete error log (there is only part of it visible now and I have the feeling the important part is missing)
- see if a plugin conflict check improves the view, it looks like something is causing our plugin to error here

[2020-07-30 12:00] beckseden commented on #15764
Hi @djennez

Thank you for being kind! :)

I copied and pasted the log from an email report from WordPress warning of the site experiencing a technical issue, an that was all there was.

Actually, this is a more recent one:

WordPress version 5.4.2
Current theme: Bare bones for Divi (version 1.0) Current plugin: Yoast SEO (version 14.6.1) PHP version 7.3.20

Error Details
=============
An error of

[2020-07-30 12:23] Djennez commented on #15764
Hmm, yea that log is incomplete. It should be available as a whole in the PHP error logs of your server, my guess is that your hosting partner should be able to get those for you, or point you to documentation to find these yourself. Something is off in your website (this is the first instance I read of this) and that error might be able to point me in the right direction.

[2020-07-30 13:21] thinkjarvisdesignandmarketing opened #15766 "Feature request: Use category thumbnail as Social Share image! As per meta preview!"
* [ ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Yoast SEO uses the feature image on pages as the Social Share image if no image is explicitly stated. This is a real time saving

[2020-07-30 14:08] nloenne commented on #13757
I have the same problem and would love an update once it's solved.

My current workaround is to set the CPT to public and then use Yoast to set it to noindex and remove from XML Sitemap - but I'd like to know when I can set the CPT to non-public again without losing the option to change primary category.

[2020-07-30 14:41] rmarcano commented on #15711
Please inform the customer of conversation # 634406 when this conversation has been closed.

[2020-07-30 15:28] DrizzlyOwl commented on #15726
Hello, I have successfully located the source of the issue.

In the wordpress-seo/src/integrations/ folder there is an xmlrpc.php.

xmlrpc.php is a file that comes baked into WordPress core and on poorly configured web hosts could allow for [possible malicious attack vectors](https://nitesculucian.github.io/2019/07/01/exploiting-the-xmlrpc-php-on-all-wordpress-versions/#xml-rpc-pingbacks-attacks).

[2020-07-30 16:23] Djennez commented on #15726
@DrizzlyOwl fantastic finding, this might indeed be the issue that people are having. Hopefully some people having this issue are able to confirm / deny this.

Pinging @herregroen because we might need to rethink the naming of this item if this is indeed the issue.

[2020-07-31 03:20] michaelbriantina commented on #15711
Please inform the customer of conversation # 634506 when this conversation has been closed.

[2020-07-31 08:19] michaelbriantina commented on #11722
https://wordpress.org/support/topic/changing-seo-with-same-variables-for-all-product-pages/

[2020-07-31 11:44] rob006 commented on #15472
Same here. Maybe just use `INSERT IGNORE` or `INSERT ... ON DUPLICATE KEY UPDATE`? In my case inserted record is already the same as existing, so query does not need to do anything.

[2020-07-31 12:53] Twansparant commented on #13603
I've found a workaround!
This seems to be working for external url's:
[code]

[2020-07-31 17:04] Pcosta88 commented on #15711
Please inform the customer of conversation # 634339 when this conversation has been closed.

[2020-07-31 17:05] NickBurnsCCG commented on #15301
Hello,

I would like to request this be re-opened. I have found a lot of other's complaining about this on wordpress.org, and they have been referred here.

As a paying customer of Yoast, I DO find it to be a true issue as my page is reporting it needs to be repaired when in fact it does not. Showing me "false positives" makes the SEO plugin useless to me as the information it's providing me is in

[2020-07-31 17:22] mayada-ibrahim commented on #15711
Seems to be fixed in https://github.com/Yoast/wordpress-seo/pull/15739

[2020-07-31 17:38] emidez commented on #15711
Good afternoon,

The truth is that I have not seen the way to solve it in the thread, in my case I still have the same problem.

Do you have any other information about this error?

Thank you.

[2020-07-31 17:50] Pcosta88 commented on #15711
@emidez You can expect the issue to be fixed in v14.7 of Yoast SEO. We are not sure when we will get that released exactly but a fix is expected to be in it.

[2020-07-31 18:45] Djennez commented on #15711
I've added a proper milestone as this fix is included in the 14.7 (august 4, 2020) release of the plugin.

[2020-08-01 03:28] rumejan commented on #6364
Please inform the customer of conversation # 635466 when this conversation has been closed.

[2020-08-01 06:41] suascat commented on #13794
Please inform the customer of conversation # 633203 when this conversation has been closed.

[2020-08-01 07:34] Yerrun opened #15772 "Modified time before Published time"
Latest version of the plugin.

### Please give us a description of what happened.
Write a future post and schedule it for a couple of weeks later. When the post gets published the meta property article for the modified_time is earlier than the published_time.

### Please describe what you expected to happen and why.
Since the post hadn't been published yet, the modified_time should be empty or the

[2020-08-01 15:05] Djennez commented on #15772
It's a known issue on our internal bugtracker, but there was no public facing issue yet, so this will do.

Internal ref: https://yoast.atlassian.net/browse/QAK-1480

[2020-08-02 02:34] shikkaba commented on #11391
@Djennez Sorry. I don't mean to bother anyone. I know you have lives and such. :)
I was just not sure how to pursue it as this issue was opened in 2018, and it would be awesome to know if it was at least on the radar in some way.

[2020-08-03 08:07] Djennez commented on #15301
After discussing this with @jono-alderson I'm reopening this to address the faulty error message. We should split out this error message into 2 variants:
- A "true" error: having more than one H1 in your text.
- More of a warning: having content before your H1.

[2020-08-03 10:42] stephenheron opened #15780 "REST API: yoast_head performance issues"
Hi,

We use the REST API to get a list of all our posts.

Without the “REST API: Head endpoint” feature enabled it takes us around 400ms - 600ms to get 500 posts via the API. Unfortunately when we enable the “REST API: Head endpoint” this jumps up to around 14 seconds which is quite an increase.

I understand that this time increase might be unavoidable and our use case is probably very rare howev

[2020-08-03 10:53] Djennez commented on #15780
There is no such option available at the moment. I'll mark this as a feature request.

[2020-08-03 12:04] beckseden commented on #15764
Hi

Having spoken to my sever, the log they were able to point me to had rather a lot of errors with Divi, so  instead of pursuing this problem, I have decided not to use yoast or Divi anymore and am now using The7 and rankmath, which doesn't seem to be causing any problems. Thanks all the same.

[2020-08-03 12:15] #15764 closed

[2020-08-03 17:50] Jeff-from-bighomesavings opened #15784 "Invalid value in field "itemtype" on Google search console"
This is the error:
<nav id="generate-slideout-menu" class="main-navigation slideout-navigation do-overlay offside offside--left" itemtype="&quot;https://schema.org/SiteNavigationElement&quot;" itemscope="" style="">

This error appears on the homepage in my site - bighomesavings.com

[2020-08-04 01:16] michaelbriantina commented on #15711
Please inform the customer of conversation # 636112 when this conversation has been closed.

[2020-08-04 07:14] iamazik commented on #6364
Please inform the customer of conversation # 636438 when this conversation has been closed.

[2020-08-04 07:17] Leeonard commented on #12571
I am running latest versions of Wordpress, Woocommerce and Yoast. The page called is admin backend, everypage

[2020-08-04 07:25] Djennez commented on #12571
Yea that's not helping. The base plugin does not do that. If you have Yoast add-ons installed, or when you have premium, it does.

[2020-08-04 07:35] Leeonard commented on #12571
Matter of fact I don't have premium plugins nor other yoast stuff. Just the base and the Yoast Duplicate content

[2020-08-04 08:38] Djennez commented on #12571
Hmmm, can't reproduce it with those plugins. But you're free to open up a new bugreport if you can provide steps to reproduce the issue or can point to the code where this is happening.

[2020-08-04 09:36] johannadevos commented on #15380
@tomsommer Our team is currently working on a fix and it looks like it will be released either two or four weeks from now (probably four).

[2020-08-04 09:41] sasadangelo opened #15786 "Canonical URL vs OpenGraph url"
Hi,

I checked my website:
code4projects.altervista.org

with this online tool:
https://sitechecker.pro/

it got me a WARNING says that my canonical URL for my blog page:
https://code4projects.altervista.org/blog/page/2/

is different from Open Graph URL.

In fact, I see:
* canonical URL: https://code4projects.altervista.org/blog/page/2/
* Open Graph URL: https://code4projects.altervista.org/blog

[2020-08-04 09:43] Djennez commented on #15786
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-08-04 09:43] #15786 closed

[2020-08-04 11:53] wpf500 commented on #13032
I'm am also still seeing a problem when the Yoast SEO meta box is hidden for a post type. In my case I needed the primary category picker for some post types so couldn't use https://github.com/Yoast/wordpress-seo/issues/13032#issuecomment-572840392.

However the filter does get passed the post type so this worked for me:
[code]

[2020-08-04 12:33] jono-alderson commented on #2960
This should definitely be addressable by https://developer.yoast.com/customization/apis/metadata-api :)

[2020-08-04 12:33] #2960 closed

[2020-08-04 12:35] jono-alderson commented on #3061
Closing given that https://developer.yoast.com/customization/apis/rest-api is in place.

[2020-08-04 12:35] #3061 closed

[2020-08-04 12:52] jono-alderson commented on #4791
Moved to Jira: https://yoast.atlassian.net/browse/PROD-213

[2020-08-04 12:57] jono-alderson commented on #4339
This ticket is rather stale, and I'm leaning towards closing it - if you're not using some form of pretty permalinks / URL rewriting, then you probably have all sorts of other SEO issues, and XML sitemaps aren't likely to be your biggest problem/opportunity.

If there's an interest in revisiting this, I'd be happy to explore and reconsider!

[2020-08-04 12:57] #4339 closed

[2020-08-04 13:07] jono-alderson commented on #4697
I'm closing this given the robustness of our developer documentation for customizing XML sitemaps - see https://developer.yoast.com/features/xml-sitemaps/api.

If there are specific use-cases which this doesn't answer to, just let us know, and I'd be happy to consider re-opening the ticket.

[2020-08-04 13:07] #4697 closed

[2020-08-04 13:09] jono-alderson commented on #5152
Closing this given the existing of this - https://developer.yoast.com/customization/apis/rest-api.
If this doesn't provide everything you need, feel free to comment and we'll revisit! :)

[2020-08-04 13:09] #5152 closed

[2020-08-04 13:18] jono-alderson commented on #5798
Closing, as we do this in the plugin.

[2020-08-04 13:18] #5798 closed

[2020-08-04 13:18] jono-alderson commented on #5798
*We ping the sitemap, we don't submit it.

[2020-08-04 14:00] jono-alderson commented on #6450
Moved to Jira: https://yoast.atlassian.net/browse/PROD-214

[2020-08-04 14:00] #6450 closed

[2020-08-04 14:00] jono-alderson commented on #12397
Moved to Jira: https://yoast.atlassian.net/browse/PROD-214

[2020-08-04 14:17] jono-alderson commented on #7446
Closing, given that there's no longer support for this.

[2020-08-04 14:17] #7446 closed

[2020-08-04 15:10] jono-alderson commented on #9091
I've done some testing, and I *think* this is fixed in our latest versions.
Please let us know if the issue persists, and we'll revisit.

[2020-08-04 15:10] #9091 closed

[2020-08-04 20:34] holydoji commented on #15572
Thanks, amboutwe. That workaround is working. Thank you very much.
But will the bug ever been corrected? What is the disadvantage of having the REST API turned off?

[2020-08-04 22:08] mobilon commented on #15246
Update:

I've disabled the object cache, and it doesn't fix the issue. The canonical tag is still wrong, as well as the metadata. Posts are beeing published in twitter with the default image in the card.

So it's justa a conflict with any HTML caching plugin, since the indexables functions as metadata cache itself, insinde the database.

This bug is getting really annoying and there's absolutelly

[2020-08-04 22:18] DFC005 commented on #15246
Yes, we're still constantly having to update every post before we can push it to social media to make sure it publishes correctly with the headline and feature image.

It's very annoying and timewasting.

[2020-08-05 07:26] Djennez commented on #15723
Fixed with the release today, closing this issue.

[2020-08-05 07:26] #15723 closed

[2020-08-05 07:26] Djennez commented on #15711
Fixed with the release today, closing this issue.

[2020-08-05 07:26] #15711 closed

[2020-08-05 08:19] GraemeFulton opened #15796 "Filter specific sitemap links from sitemap_index.xml"
## Is your feature request related to a problem? Please describe.
A filter to remove a specific sitemap link from the `sitemap_index.xml`.

To be added in [`class-sitemaps.php`](https://github.com/Yoast/wordpress-seo/blob/trunk/inc/sitemaps/class-sitemaps.php#L389), around L397:
[code]

## Describe the solution you'd like
I want to stop a custom post type sitemap from displaying on the `sitemap_in

[2020-08-05 09:08] GraemeFulton commented on #15796
Alternatively, is there any way to just create a separate sitemap index?

I've seen it's possible with languages: https://cambodesign.com/yoast-wordpress-seo-sitemap-for-each-language/
e.g.
/en/sitemap
/es/sitemap
/fr/sitemap

Is there a way to do:

/custom/sitemap

[2020-08-05 14:55] Djennez commented on #15572
After investigating this, I found that this issue is not caused by us but by the WooCommerce Admin plugin. I have reported this with them [here](https://github.com/woocommerce/woocommerce-admin/issues/4935). Please monitor that thread for updates as I will be closing this one.

[2020-08-05 14:58] mattu08 opened #15800 "Missing breadcrumb text name within the "breadcrumb structured data schema" Bug Fix."
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Background:
This is the same issue that was patched in Ticket: https://github.com/Yoast/wordpress-seo/issues/13616 and https://

[2020-08-05 16:18] Djennez commented on #15559
@Twansparant I am unable to reproduce this anymore with the current versions of all plugins. Can you re-test this?

[2020-08-05 16:36] poluhovich opened #15801 "Last Mod. column in sitemaps contains wrong data"
* [ ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Source of the issue is in the file: `inc/sitemaps/class-post-type-sitemap-provider.php`:

[code]
Since that query contains `WHE

[2020-08-05 18:07] bkwineper opened #15802 "Yoast with WPML and Elementor causes backend/Elementor Editor language change"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.
Well, I have not but I have been in touch with your support on the WP support forum who directed me here to write a report and I assume she/he would have verified previous bug repo

[2020-08-06 08:12] Djennez commented on #15801
Hi @poluhovich and thank you for your detailed report. However, it's kind of unclear what problem this is trying to fix, could you provide a problem description for this solution?

[2020-08-06 09:13] Djennez commented on #15800
@mattu08 I am not sure which problem this is fixing, it is breaking things (SEO wise) for my test setup, so I'm not sure this is likely to make it in.

Adding this check, and having a category without a title, will put the title of a post in place of the title of the category, when categories are part of the breadcrumb. So that is less favorable than no "name" entry I believe.

[2020-08-06 09:24] Djennez commented on #15762
Running
- Yoast 14.7
- WC 4.3.1
- WP 5.4.2
I was unable to reproduce this behavior. Editing a product will successfully updates the scores on the products overview page. You can try updating to Yoast 14.7, see if that fixes the issue. But if it does not, I guess you'll have to start looking for conflicts within your website.

[2020-08-06 09:52] mattu08 commented on #15800
Hi @Djennez

Sorry for not saying what the issue is, so I’m getting the same error again that I was getting from the old fix: https://github.com/Yoast/wordpress-seo/issues/13616

This fix doesn't work anymore because it is missing after moving to indexable that were introduced in 14.0

Currently all sites are stating that they have unnamed values within the Yoast SEO generated schema. Here’s an ex

[2020-08-06 09:53] virtualbird123 commented on #15762
Thanks. Turns out it's a conflict with ATUM Inventory.
ATUM say it's on Yoast to fix. The lights update when deactivating and reactivating ATUM.
Weird little bug!
Thanks for your time

[2020-08-06 10:13] BobGoedkoop opened #15806 "Yoast 14.7 breaks NExtGEN galleries."
* [ x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

I just installed the latest Yoast (free version) and it generated an error in my error log (see screenprint yoast1.png).

![y

[2020-08-06 10:59] Djennez commented on #15806
Can't reproduce this with the provided reproduction steps. Please see if you can find any related errors in your logs / browser console. If not, you can try reinstalling one or both of the plugins to see if that solves anything. You should also check for any other possible plugins / themes / custom code that could cause a conflict.

[2020-08-06 11:15] Djennez commented on #15762
Even with ATUM activated, the lights will just update after updating a product.

I am not really sure how it's caused by us if another plugin is modifying our data 🤔  Did they provide any details as to where the problem would be?

[2020-08-06 11:22] BobGoedkoop commented on #15806
Just reverted back to Yoast 14.6.1 (code only, no db)  and there is no problem now.

Also there was the problem when installing Yoast 14.7, the messages do not sound hopeful for having a properly finished installation? Perhaps this can cause the behaviour I got?

The error log is squeaky clean around the moment(s) I tried this. except for the errors during installation.

I can dive in and do a who

[2020-08-06 11:27] Djennez commented on #15806
The error on activation / update to 14.x is expected. This should only happen once. We suppress this error intentionally because this is the fastest / less intrusive way to update to our indexables.

[2020-08-06 11:58] BobGoedkoop commented on #15806
Thank you for letting me know. I now updated to 14.7 again and performed the following steps:

- Disabled my cache
- Updated to Yoast 14.7
- No errors in the log
- Browsed (Brave browser) to the post that failed when I worked on it
- The NextGEN gallery shows ok
- In the WP backend only pressed "Update" on that post.
- Browsed (Brave browser) to the post
- The NextGEN gallery DOES NOT show (same s

[2020-08-06 12:08] Djennez commented on #15806
Don't know if you've done a conflict-check with all your plugins / theme / custom code yet, but that would be my next step, short of looking in NextGen code where this goes wrong. Since I can't reproduce the issue locally I can't really help with that any further and this seems like a local / isolated issue to me. If you're able to point out where our plugin is causing this problem I might be able

[2020-08-06 12:15] BobGoedkoop commented on #15806
Thank you for your answer.

I just reverted back to 14.6.1 and performed the same steps as above. Now everything works.
I have no doubt anymore that it's a Yoast code issue (not other changes to the system except an upgrade to 14.7)

When I move forward with conflict checking I will come up with something like "when I enable Yoast and NextGEN the issue surfaces".   From my point of view I am unabl

[2020-08-06 12:28] Djennez commented on #15806
You can try from an empty installation and try to rebuild to your current installation (in terms of settings / plugins / configurations) and see when you start running into problems. It might be a certain configuration that is causing the problem. It might be a combination of plugins that is causing the problem. There's really no telling.

I would agree that the notion "I enable plugin A and troub

[2020-08-06 12:45] BobGoedkoop commented on #15806
So, here's another direction... We run WP only in a live environment, we don't do WP development and are not set up to do so. Your proposal is undo-able related to time issues and results to start setting this up and do the debugging  (there is more than Yoast and it's easy to switch).  We have recently found the time to dive more into SEO for the site and are the point where we are ready to purch

[2020-08-06 12:48] poluhovich commented on #15801
@Djennez the problem is that "Last Modified" column in the sitemaps contains wrong data, I don't know if it has any impact on SEO:
![image](https://user-images.githubusercontent.com/9684423/89533588-ef4c4800-d7f3-11ea-9c3d-ebff668ea487.png)

[2020-08-06 13:15] poluhovich opened #15807 "Post type sitemap might be empty due to "wpseo_exclude_from_sitemap_by_post_ids" filter"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

The methods `get_index_links` and `get_posts` from file `inc/sitemaps/class-post-type-sitemap-provider.php` are ignoring exclud

[2020-08-06 13:29] Djennez commented on #15801
Do you have any information on how to recreate wrong data in that column? Because my data seems correct at the moment.

[2020-08-06 13:33] poluhovich commented on #15801
@Djennez I guess it might be related that I have few hundreds of excluded post IDs, I've described related issue here: https://github.com/Yoast/wordpress-seo/issues/15807

[2020-08-06 13:38] #15644 closed

[2020-08-06 13:46] Djennez commented on #15806
When you purchase Yoast SEO Premium, our support team will assist you in further troubleshooting/debugging this problem on your website. Their goal will be to bring back this problem to a reproducible problem, as we can’t solve and test what we can’t reproduce. Having a Yoast SEO Premium subscription would still mean you have to put time and energy into troubleshooting.

So while buying Premium do

[2020-08-06 16:20] blogtutor opened #15809 "Please remove the "disable comment pagination" notice"
For many years, Yoast SEO has recommended disabling comment pagination. That may have been a valid recommendation years ago, but now disabling comment pagination can actually do more harm than good for SEO.

A large number of comments all on one page can create SEO issues, including:

- Slower page speed
- Diluted keyword density for the post content
- High DOM nodes on the page (reducing DOM node

[2020-08-06 16:51] GamerWithADegree commented on #15806
Hi, I am also experiencing this same problem, where latest Yoast SEO 14.7 breaks the insertion of next-gen galleries into posts.

I primarily use NGG to insert galleries into a WYSIWYG field created with Advanced Custom Fields. THis is ona  custom post type.

When inserting the gallery and checking the text (html code tab) the regular NGG shotcode is chaged to this:

`<div class="mceItem mceNonEdi

[2020-08-06 17:10] Djennez commented on #15809
@jono-alderson this may be something for you to have a look at :)

[2020-08-06 17:11] Djennez commented on #15806
@BobGoedkoop are you also using the classic editor?

[2020-08-06 17:23] GamerWithADegree commented on #15806
Hi,

I have just reverted back to Yoast SEO 14.6.1 and the problem is gone now. NGG gallery shortcode displays as it should and the gallery displays on the front end. Whatever files/code was changed with 14.7 it is causing the problem.

[2020-08-06 22:50] rmens commented on #15741
After more than a week I killed the process and updated to Yoast SEO Premium 14.7 to try again.

Not much seems to have changed. The indexable command indicated an ETA of ~30minutes, but keeps running after 100%. Funny thing is when I kill it (ctrl-c) and re-start the indexation without the ```--reindex``` option, it always finds new values to index and gives an ETA of 11 minutes, to not finish af

[2020-08-07 07:00] Djennez commented on #15806
Hmmm, does not seem to be the classic editor:

![image](https://user-images.githubusercontent.com/34372510/89618415-53bae600-d88c-11ea-8943-06ced3276be8.png)

So whatever is causing it might be something your sites share.

[2020-08-07 07:17] BobGoedkoop commented on #15806
@Djennez I have tested with disabling all my plugins and using the 20/20 theme. Only NextGEN AND NextGEN PRO active and Yoast 14.7. This does not give the problem. When I activate the Avada builder plugin (belonging to my theme, but not activating the theme) then with the new Yoast version I experience this problem.

Yoast 14.7 is the new kid in town, so my pov is still that there is something the

[2020-08-07 07:41] GamerWithADegree commented on #15806
@Djennez @BobGoedkoop My site uses a custom theme, I don't use Avada builder or any other page builder.

I agree with @BobGoedkoop that Yoast is the most likely cause of the problem. Next-Gen Galleries worked fine until 14.7 was released. Not to mention the facts that deactivating Yoast 14.7 or reverting back to 14.6.1 fixes the problem.

I was also able to replicate the issue on a local test site

[2020-08-07 07:59] GamerWithADegree commented on #15806
I tested this again on my local install.

I created a post with all plugins including classic editor, yoast 14.7 and next-gen gallery active.

Inserted a gallery with the text tab open, gallery inserted with correct shortcode, when I switched to the visual editor and back to text tab, the shortcode changed to the HTML code.

I then deactivated all other plugins except Yoast 14/7 and next-gen galle

[2020-08-07 08:01] Djennez commented on #15806
I was able to reproduce the issue with Avada Builder enabled. When that plugin is enabled, the classic editor gets used automatically, so that might still be part of the problem. Though it takes some updating and re-saving items after toggling plugins to get the error to appear. It looks like the NextGen placeholder from the backend is saved to the database and displayed on the frontend. Not sure

[2020-08-07 09:05] GamerWithADegree commented on #15806
@Djennez It does seem that there is some strange conflict with Yoast 14.7 and the classic editor and Next-gen gallery.
Thank you for looking into this issue, hopefully, it can be solved soon.

[2020-08-07 09:57] jono-alderson commented on #15809
This is a really interesting challenge - thanks for doing such a great job of positioning it!

I do agree with all of the performance problems you outline, but I'm _really_ uncomfortable with the idea of introducing pagination as a solution. I think that creating multiple 'copies' of a page in order to facilitate only paginate a _secondary component_ of that page is a bad approach in multiple rega

[2020-08-07 09:59] bkwineper commented on #15802
As mentioned previously, I have also contacted Elementor on this issue. They confirm that they do see the same error appearing if and only if Yoast is activated. (Not if only WPML and Elementor is active.)

Elementor's comments (in summary):

QUOTE:

"On my clean staging site, I could not reproduce the issue by using Elementor + WPML only.

As we have no control over coding for third-party plugins

[2020-08-07 15:00] blogtutor commented on #15809
Thanks @jono-alderson . I appreciate your chiming in and your thoughtful reply.

I agree that Core's comment pagination can also be problematic. 😏

But if a post has many comments -- and a user doesn't take additional steps to mitigate them (such as WP Discuz or lazy loading; both great suggestions) -- the site would still be better off by keeping comment pagination enabled.

As a blanket recommen

[2020-08-07 15:16] Pcosta88 commented on #7960
Please inform the customer of conversation # 632111 when this conversation has been closed.

[2020-08-07 16:21] zackkatz commented on #15721
This is also affecting us at GravityView. We need the `wpseo_opengraph_image` filter to be run, as it previously was.

[2020-08-09 08:01] walski69 commented on #15806
Just FYI, but I'm experiencing the same problem described. For the interim I have rolled back the Yoast SEO plugin to 14.6.1 (from 14.7). I'm not sure if it's been mentioned previously but this only affects new posts/pages with NextGEN galleries used.

Site details:
- WP 5.4.2 (running Classic Editor as default)
- NextGEN Gallery 3.3.6
- WPBakery Page Builder 6.2.0, which is bundled with
- QODE Br

[2020-08-09 21:06] nr5149 opened #15814 "Incorrect og:url When Searching a Given post_type"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

When searching a given post type (https://www.example.com/?s=pantalon&post_type=product), what you get in og:url is https://www

[2020-08-10 07:32] Djennez commented on #15814
Hmmm, I believe WordPress is generating those links itself (when pretty permalinks are enabled), that's an assumption based on info from 2016: https://github.com/Yoast/wordpress-seo/issues/2094 . We're already disabling canonicals on search results pages due to this behavior. I am not sure if / how we should change `og:url` for this. @jono-alderson, got any thoughts on this?

[2020-08-10 09:19] Djennez commented on #15741
That is weiiiird. There isn't a whole lot related to themes that would be able to have any significant impact on this WP-CLI command. Does the theme contain any yoast/wpseo-related filters? Like `wpseo_post_type_archive_indexation_limit`?

Besides the theme difference, it's probably also the case that the live version has visitors, while your test environment does not. So CPU / memory-wise, there

[2020-08-10 09:46] Djennez commented on #15800
The fallback you're describing is for the last item in the list, so the current page you are visiting. If you introduce this fallback for the parent items, they will still get the canonical / title of the current item. True, this would solve the error of an empty title / url, but it would solve it with the wrong information.

Suppose `Home -> products -> shirts -> Brown T-shirt` is the breadcrumb.

[2020-08-10 11:44] rmens commented on #15741
We use a filter to hook in some schema.org data for reviews, but not other limits. The theme uses ACF on posts for some business logic and editorial extra's. That's the main things I know.

I can reproduce the problems on our test environment without any live traffic. It has the exact same setup. So live traffic is not the issue here.

If it helps I can send you a copy of the theme via a more secu

[2020-08-10 12:01] Djennez commented on #15741
Hmm, a test version of your theme might be helpful. If that reproduces the issue for me as well we can more definitively say that the issue is theme-related (albeit: weird) and I can dig a bit further.

If you have a stripped version of your theme (please make sure there are no secrets in there) you can upload / send it via / to djennez <at> yoast [dot] com. I can't guarantee I'll immediately take

[2020-08-10 13:31] mattu08 commented on #15800
Yeah good points, probably not the best fix outcome. I have now tested after a reindex with the "Yoast test helper plugin" the problem is still there. It's slightly odd I must say. Do you know of anything else I could check?

[2020-08-10 13:40] #15675 closed

[2020-08-10 15:28] roborourke opened #15822 "Meta box JS error on term edit pages: _refresh is not a function"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

On the term edit screen the Yoast SEO Metabox does not fully load and the following error is output in the JS console:

[code]

[2020-08-10 15:35] roborourke commented on #15822
Sorry, I had a few plugins I hadn't yet switched off - this appears to be a compat issue so nothing for you to do here. I'll report back what I find.

[2020-08-10 15:40] roborourke commented on #15822
It's our [Publication Checklist](https://github.com/humanmade/publication-checklist), looking into why it causes this problem now.

[2020-08-10 15:53] roborourke commented on #15822
Our plugin currently causes the script `wp-edit-post` to be loaded on that term edit page which appears to affect the behaviour of the Term Scraper script. Will fix it our end.

[2020-08-10 15:53] #15822 closed

[2020-08-10 18:07] Pcosta88 commented on #13174
Please inform the customer of conversation # 625475 when this conversation has been closed.

[2020-08-11 05:49] mountainash commented on #15453
@Djennez  Do you have a link to tasks/issues involving these changes so that we can see its progress/release?

Digital Ocean (with their Managed Database product) is emailing daily notifications until all tables have a primary key.

[2020-08-11 06:28] michaelbriantina commented on #15397
- https://wordpress.org/support/topic/breadcrumb-on-localhost-removing-8888/
- https://wordpress.org/support/topic/breadcrumb-links-point-to-localhost-starting-with-yoast-14/
- https://wordpress.org/support/topic/breadcrumbs-linking-to-localhost/

[2020-08-11 09:34] BobGoedkoop commented on #15806
@Djennez Voor een extra paar ogen heb ik Avada naar het probleem laten kijken. Misschien dat hun een workaround kunnen vinden.

Zij hebben testen zonder de Avada plugins gedaan, zie hieronder (copy/paste):

1) Test 1 ⇒ With Avada, core and builder disabled. The gallery in this situation was not working before hand,
Video here → http://tinyurl.com/y5tgvvww

2) Test 2 ⇒ Test is again made without Av

[2020-08-11 09:52] Djennez commented on #15806
I found the line of code that changed in 14.7 that causes this behavior, though I am still unsure as to why the behavior is happening. The problem is here: https://github.com/Yoast/wordpress-seo/blob/440cd20a0b8c61ab90aca5c2a03504d68597178a/admin/class-admin-asset-manager.php#L304

Our post-edit script seems to not get loaded on classic editor due to this `wp-blocks` dependency. That script probab

[2020-08-11 10:07] whiteLIGHT1221 commented on #15806
I am having the same problem. It is absolutely related to Yoast SEO. I have about 80 websites here. Most use NextGen Gallery and Yoast SEO. When I updated the Yoast SEO plug in, it broke all of the NextGen Galleries.

We were able to trace the problem backward and are completely sure of this.

If I disable Yoast SEO and then recode the Galleries, they work.

I am hoping Yoast SEO can fix the probl

[2020-08-11 10:42] Banuchanthiran-N opened #15830 "cURL error 60: SSL certificate problem: unable to get local issuer certificate"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

In wordpress admin panel yoast premimum plugin is not validating due to the CURL 60 error. Yoast trying to verify the yoast act

[2020-08-11 11:13] Djennez commented on #15830
That's a problem with your configuration / WP installation / server, not with our plugin. Closing this.

[2020-08-11 11:13] #15830 closed

[2020-08-11 12:53] brownrl commented on #13235
Yoast is not the only SEO analyzer thing having a problem with Dynamic Blocks. In fact I was told by The SEO Framework developer that dynamic blocks were step back ward in web development :) (-1).

The real issue is that they are reading the editor content with a JS call something to the effect of:

```wp.data.select('core/editor').getEditedPostAttribute('content')```

While Yoast and other plugin

[2020-08-11 13:44] omarreiss opened #15833 "Indexables cleanup"
Noticed a lot of indexables related code in legacy php. Please investigate if this code is still used and if not, clean it up.
- `admin/endpoints/class-endpoint-indexable.php`
- `admin/services/interface-indexable-provider.php`
- `admin/services/class-indexable.php`
- `admin/services/class-indexable-provider.php`
- `admin/services/class-indexable-term-provider.php`
- `admin/services/class-indexabl

[2020-08-11 14:08] andizer commented on #8165
This isn't needed anymore :)

[2020-08-11 14:08] #8165 closed

[2020-08-11 14:15] andizer commented on #9570
Added a fix on premium. Can't find on other plugin repos. Close this issue

[2020-08-11 14:15] #9570 closed

[2020-08-11 22:51] Prounckk opened #15836 "Errors when install with composer yoast 14+"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Hello!

I have yoast premium installed with composer:

"yoast/wordpress-seo-premium" : "14.7",

all was working fine before upg

[2020-08-11 23:07] rmarcano commented on #9526
Please inform the customer of conversation # 638665 when this conversation has been closed.

[2020-08-11 23:09] #15836 closed

[2020-08-12 06:33] flyzy2005 opened #15837 "yoast_breadcrumb function returns a wrong category"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

I am using yoast_breadcrumb function in my theme as follows.

`return yoast_breadcrumb( '<p id="breadcrumbs">', '</p>' );`

I h

[2020-08-12 06:50] Djennez commented on #15837
Hmmm, this is due to the indexables table not updating on quick edit, can confirm. That is an issue, and I wonder why that has not surfaced before. Thanks for the report!

[2020-08-12 07:06] #15380 closed

[2020-08-12 07:40] Djennez commented on #15837
Scratch that, I can't seem to reproduce it at all. How are your breadcrumb settings set in the Yoast SEO options?

[2020-08-12 11:37] Minze-Vries opened #15841 "wordpress 5.5 problems"
* [x ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Following the latest wordpress update I get the message 'The editor has encountered an unexpected error.' when trying to edit

[2020-08-12 11:45] Djennez commented on #15841
Hi @Minze-Vries , your issue unfortunately does not contain enough information to be a viable bug report or feature request. But since I'm hearing a lot of issues, but not able to reproduce any of them, I am keeping this open for now. Please provide as much information as possible about your site configuration, used plugins, conflict checks and error logs. Any information that may help me reproduc

[2020-08-12 16:27] vigwe commented on #14927
@MohammedKaludi
We have updated to the latest version since 10 days ago.
The issue still shows on GSC. It also still shows in the view source page as shown in the below screenshot.
![image](https://user-images.githubusercontent.com/69593065/90041293-02ae5600-dcc1-11ea-85df-f835c439c830.png)

Please help

[2020-08-12 16:29] priscillamc commented on #9052
Please inform the customer of conversation # 638992  when this conversation has been closed.

[2020-08-12 17:13] TechCoachLisaB opened #15845 "Issue with Soliloquy"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

When both Soliloquy and Yoast SEO are activated, the following PHP error is on pages with the Soliloquy slider:
**Notice: Undef

[2020-08-12 19:33] chaptersofmay opened #15846 "Yoast SEO (free) Snippet Editor Blank"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
I opened my WordPress Admin Console to create a new blog post. The first thing I noticed was the missing Yoast SEO icon that usu

[2020-08-12 19:47] Djennez commented on #14927
As the hijacking of this thread is really counter productive for any of the parties involved, I'm locking this thread for further conversations. Please create a new issue on the repository of the intended plugin, following their guidelines for issue creation.

[2020-08-12 22:06] rmarcano commented on #10381
Please inform the customer of conversation # 639126 when this conversation has been closed.

[2020-08-12 22:09] rmarcano commented on #10381
One detailt to keep in mind for this FR, according to [this](https://www.youtube.com/watch?v=Yhqu8_LXvNc#t=29m32s) nested sitemap indexes are not supported.

[2020-08-13 00:34] benklocek commented on #15721
This also seems to affect the `wpseo_schema_main_image` filter as well.

[2020-08-13 00:55] jpanther commented on #12629
This is actually causing a real issue in the `twitter:creator` meta tag because Wordpress core user profile page asks for the 'Twitter URL' and Yoast is incorrectly assuming this field contains the Twitter username (maybe it used to be this in prior versions of Wordpress?). As a result the `twitter:creator` tag shows a value of `@https://twitter.com/username` which is obviously incorrect.

The wor

[2020-08-13 01:01] Sanabria commented on #15453
We're in the same boat here. Please take a look at this issue. Digital Ocean is pressing all sites to fix this ASAP.

[2020-08-13 03:11] galbaras opened #15847 "Set site to "test mode" and avoid certain checks"
##  Is your feature request related to a problem? Please describe.

On test sites, it's appropriate to block search engines, but the plugin complains about it, which can be annoying.

## Describe the solution you'd like

Provide a "test mode" switch that, when turned on, causes the plugin to skip inappropriate checks, like crawlability.

## Why do you think this feature is something we should cons

[2020-08-13 05:10] manatnatt opened #15848 "WordPress update causes issue with allowing Google Indexing"
* [x ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Hi Team,

I had WordPress Automatic Update turned on, so it updated the version on WordPress and the plugins (especially WP Pr

[2020-08-13 06:58] whiteLIGHT1221 commented on #15806
Thanks for any help you can offer, Omarreiss. I am in the process of removing the latest Yoast SEO from all of my "80" websites. And uploading (FTP) the older version. That returns the NextGen Gallery coding to normal. Maybe someone can let me know when Yoast has fixed the problem.

[2020-08-13 06:59] Djennez commented on #15453
I'm re-introducing this request with our product owners. Will report here when I know more.

[2020-08-13 07:24] Djennez commented on #12629
@jpanther as far as I can find, our plugin only deals with the username. Both on the user profile page (`Twitter username (without @) `) as well as in the SEO -> Social settings (`Twitter Username`). The `twitter:creator` generator also only handles in usernames. If you're required to put a Twitter URL somewhere, I guess it's not our plugin that is handling that.

[2020-08-13 07:34] Djennez commented on #15806
14.8 (due next tuesday) is set to ship this fix.

The PR mentioned above was meant to close this issue once merged, but it didn't, so I'm doing that manually now.

[2020-08-13 07:34] #15806 closed

[2020-08-13 07:49] Djennez commented on #15848
I've tested updating WP to 5.5 with some posttypes set to no-index, no settings were reset, so this does not seem like a bug on our end.

Then again, no-index does not mean that those pages are not visible to search machines. We don't make posts private. So if sensitive / private information got leaked to search engines, you have a different problem.

Closing this as it does not contain a bug repo

[2020-08-13 07:49] #15848 closed

[2020-08-13 07:57] Djennez commented on #15847
Closing as a duplicate of https://github.com/Yoast/wordpress-seo/issues/7578#issuecomment-460540211

You can dismiss the notification if it bothers you.

[2020-08-13 07:57] #15847 closed

[2020-08-13 08:13] jpanther commented on #12629
@Djennez Okay sorry, I just did a bit more digging and it turns out the theme is renaming that field on the user profile screen!!! I'll bring this up with the theme author.

[2020-08-13 08:21] bahia0019 commented on #12629
How is this still an issue?
Why is the the field for Twitter the ONLY field that isn't a URL?
It should be consistent with the other fields. Or, at least provide the option for users to add URL or @name, then format it  programmatically .

It's just poor usability.

[2020-08-13 09:29] omelhus commented on #15453
I’ve published my workaround as a plugin at https://wordpress.org/plugins/primary-key-fixer/. This solves my issue with Yoast and hosting on digital ocean.

[2020-08-13 10:00] Ivan3008 opened #15850 "Metadata disappeared from admin taxonomy pages"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Hello!
All custom taxonomy metadata disappeared from admin. There’s no score in the list and there’s default meta at detailed ta

[2020-08-13 10:04] Djennez commented on #15850
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-08-13 10:04] #15850 closed

[2020-08-13 10:12] Ivan3008 commented on #15850
Support forum on wordpress.org unfortunately didn't help me, that's the link to the forum thread - https://wordpress.org/support/topic/meta-data-disappeared-in-admin/

I provided information as much as i have, following to the contribution guide.

[2020-08-13 11:09] moorscode opened #15851 "Make use of the composer configuration in Premium to check for CS/linting"
The PR https://github.com/Yoast/wordpress-seo-premium/pull/2955 introduces `Composer` to the premium folder.

We need to use this to run the CS checks in our Premium travis runs.

Modify:
- Travis configuration - to use the composer in the premium folder

Cleanup:
- Composer configuration in the root; should remove all premium specific configurations/scripts

[2020-08-13 12:07] Djennez commented on #15846
@chaptersofmay can you check if there are any errors in your browser console, and if so, report them here?

You can also install [this plugin](https://wordpress.org/plugins/wp-jquery-update-test/) and set `jQuery Migrate` to true in its options to see if this fixes the issue you're experiencing. Please let me know if that helps.

[2020-08-13 12:12] chaptersofmay commented on #15846
It worked, thank you! I'm not sure how to check if there are errors in my browser console, that's something I'll have to Google. But fortunately the Test jQuery Updates plugin seems to have fixed the issue. Is this something I'll have to keep activated all the time?

![Annotation 2020-08-13 131049](https://user-images.githubusercontent.com/69602270/90132925-88381180-dd66-11ea-9723-cb1d2e6ad08b.png

[2020-08-13 12:15] Djennez commented on #15845
@TechCoachLisaB the error seems to originate in the Soliloquy plugin, it may still be an issue that is related to us, but I can't reproduce it to test it. So I think they'll have to have a look what they can find and let us know if there's a compatibility issue.

[2020-08-13 12:18] Djennez commented on #15846
@chaptersofmay it looks like you're using chrome. You can right-click the page and select "Inspect". This will open up a new window and in that window there is a tab named "console". If you can Disable Jquery Migrate again, reproduce the problem and let me know if there are any messages in this console (a screenshot is fine), that's help me out a bunch.

And yes, you will probably have to keep thi

[2020-08-13 12:26] chaptersofmay commented on #15846
@Djennez - Is this what you're looking for?

This is the screen with Test jQuery Updates activated (can see Yoast is working fine):
![Annotation 2020-08-13 1310492 (w jQuery)](https://user-images.githubusercontent.com/69602270/90133991-532cbe80-dd68-11ea-815e-e812dfd4695e.png)

This is the screen Test jQuery Updates disabled (it goes back to how it was):
![Annotation 2020-08-13 1310492 (wo jQuery)

[2020-08-13 12:41] Djennez commented on #15846
Yay! Thanks! This may help me a bunch. I think you are running the plugin "Column Shortcodes"? This seems to reproduce the issue for me.

You can keep the JQ migrate enabled to work around the issue.

[2020-08-13 12:48] chaptersofmay commented on #15846
I do have Column Shortcodes, but since I switched to the Gutenberg editor I haven't been using it.
I plan on going through old posts and removing the shortcodes for this plugin and then I'll deactivate it. I'm pretty sure it's out of date so it will be good to get rid of it, and that could fix the issue in the future.

Either way, I'm happy leaving the jQuery plugin. Thank you very much for your h

[2020-08-13 12:48] #15846 closed

[2020-08-13 14:58] Pcosta88 commented on #13208
Please inform the customer of conversation # 639000 when this conversation has been closed.

[2020-08-13 17:17] Pcosta88 commented on #13928
Please inform the customer of conversation # 637541 when this conversation has been closed.

[2020-08-14 01:28] galbaras commented on #7578
WP 5.5 introduces the function `wp_get_environment_type()`, which can easily be used to detect non-production sites that shouldn't be indexed. Seems like a really easy change.

[2020-08-14 04:26] GlennMartin1 opened #15855 "Media Library in WP 5.5 doesn't work with and Gutenberg & Yoast..."
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Using Yoast SEO 14.7, Gutenberg 8.7.1, and WordPress 5.5

Using WordPress 5.5 with Yoast 14.7 and Gutenberg 8.7.1 activated, the

[2020-08-14 06:59] Djennez commented on #15855
@GlennMartin1 please provide more information: steps to reproduce, browser console errors, PHP errors, et cetera.

[2020-08-14 07:00] Djennez commented on #15841
Closing this as I suspect updating  Schema & Structured Data for WP & AMP will fix the issue.

[2020-08-14 07:00] #15841 closed

[2020-08-14 07:29] Djennez commented on #15806
Please note that once this fix is released in 14.8, you will need to re-save the posts with the broken galleries.

[2020-08-14 07:32] whiteLIGHT1221 commented on #15806
Good to know, Djennez! Thanks again for your help!

[2020-08-14 11:55] Nugerama commented on #6750
I've come up against this same issue. Did you ever find a workaround, @DrLightman?

[2020-08-14 12:07] #15397 closed

[2020-08-14 13:32] Beee4life opened #15859 "Deprecated function: whitelist_options"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

I saved the author archives setting when this error came up:
[code]

This is used on several occassions throughout the plugin

[2020-08-14 14:13] worldsdream opened #15860 "Expand section in Yoast SEO when creating post"
![bug](https://user-images.githubusercontent.com/12443285/90258179-729b1880-de48-11ea-8066-693c356b1aa6.png)

Create a post or edit a post. Click on the "Desktop result" tick box.

Why do we have to scroll the preview content (see the arrows), as we have enough space available on the right? Anyone that can tell me why this is changed in version 14.x, please? In version 13.x this was OK.

Please ma

[2020-08-14 14:24] worldsdream opened #15861 "Yoast SEO insights changed in version 14.x ?"
Yoast SEO is upgraded to the latest version 14.7.

The insight is now only showing one word a line. It used to show one, two, three, or four words in one line.

Example:
In version 13.x, the INSIGHT used to look like the following (I googled and saw the post: https://yoast.com/yoast-seo-insights/):
![before](https://user-images.githubusercontent.com/12443285/90259009-a165be80-de49-11ea-96b3-830112

[2020-08-14 15:00] worldsdream commented on #15861
Downgraded to 14.6.1 and all is working like before.

[2020-08-14 17:17] mattkeys commented on #15726
I can confirm that I was having this issue, and this fixed it.

[2020-08-14 19:16] Djennez commented on #15726
Reopening this to make sure this gets seen and possibly fixed.

[2020-08-14 19:25] Djennez commented on #15861
Correct, this was deliberately changed.

Closing as a non-issue.

[2020-08-14 19:25] #15861 closed

[2020-08-14 20:04] davejesch opened #15862 "Database error after upgrade to v14.7"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Seeing a database error:
`<div id="error"><p class="wpdberror"><strong>WordPress database error:</strong> [Unknown column 'has_a

[2020-08-15 05:41] flyzy2005 commented on #15837
I have reproduced this bug with theme Twenty Seventeen.

I generated my breadcrumb as follows at single.php.

`get_header();
echo yoast_breadcrumb( '<p id="breadcrumbs">', '</p>' );
?>`

To reproduce this bug, you need to activate plugin Classic Editor first.

You can see the results at http://test.laowangblog.com/2020/08/15/test5/ and http://test.laowangblog.com/2020/08/15/test/.

You can try it

[2020-08-15 10:28] midlandsmaidens opened #15863 "Remove Embedded Timestamp"
Embedded timestamps are not needed in Yoast, Rank Math, SEOPress, or any of the other SEO plugins that are used by WordPress.

Yoast though apparently thinks otherwise.

Even though their own support team are acquiescing that 'Google will decide if a timestamp is added', Yoast is now trying to hammer this home by using embedded timestamps on ALL pages, the HOMEpage, posts, products, portfolios, an

[2020-08-15 12:48] worldsdream commented on #15861
Thanks @Djennez. I think that I need to get the hang of it. Let’s see how it goes.

[2020-08-15 12:56] swissspidy opened #15864 "Incorrect docblock for wpseo_schema_article_type filter"
* [ ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

The docblock for the `wpseo_schema_article_type` filter was copied from  the `wpseo_schema_webpage_type` one but not properly u

[2020-08-15 13:03] nicosjack91 commented on #15397
Hi everyone,

I just found the solution to this problem.

You have to go to your database (phpMyAdmin) and find the wp_yoast_indexable table (replace "wp" by your table prefix). You will see in the permalink column that everything is localhost !

Go to the SQL menu and execute this SQL request  (replace "wp" by your table prefix) :
`UPDATE wp_yoast_indexable SET permalink = REPLACE(permalink, 'htt

[2020-08-15 13:09] swissspidy opened #15865 "Cannot change default schema Article type for custom post type"
* [ ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

In #15532 support for the Web Stories plugin has been added. That integration uses the `wpseo_schema_article_post_types` filter

[2020-08-15 16:46] GlennMartin1 commented on #15855
Looks like it's a WordPress 5.5 issue. There's more info posted here: https://core.trac.wordpress.org/ticket/50993

[2020-08-15 17:55] bobbingwide commented on #15855
Just to confirm here, as well as on the TRAC, that I reproduced the issue then demonstrated that the fix for https://core.trac.wordpress.org/ticket/50999 works for this issue too.

The problem occurs when the Media Library settings are to display in Grid view.
[code]
It's fine with List view

[2020-08-15 18:07] claudiobrandt opened #15866 "Error message after category base change"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
After changing the Category Base at WP Dashboard > Settings > Permalinks, an error message is returned when visiting category pa

[2020-08-16 09:36] hinnerk-a opened #15867 "CPT and taxomony slugs not changing in canonical, og:url."
* [ ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Before:
/clients/ (CPT archive) `'rewrite' => array( 'slug' => 'clients', 'with_front' => false )`

After (page set to Draft, CP

[2020-08-16 10:19] Charlotteplansatrip opened #15868 "Text mode won't open in classical view because of error with YOAST + other issue"
* [ x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

I suddenly can no longer open the text field in the wordpress classic mode. Also when I try to add a permalink to the blog an

[2020-08-16 10:29] Djennez commented on #15867
@hinnerk-a can you try an indexables reset? `wp yoast index --reindex` or via the `Yoast Test Helper` plugin.

[2020-08-16 16:41] mobilon commented on #15246
Hi guys,

I really didn't wanna throw that card, but i'm starting to consider migrating to another SEO Plugin.

This bug seems like an easy fix, but still we're waiting for more than 3 months, and Yoast is not showing any interest in fixing it.

I got my entire editorial team hiting "update" everytime we publish a new post. And it's hard, because they need to do that in less than 3 minutes, or the

[2020-08-16 17:51] hinnerk-a commented on #15867
Thanks! Reindexing fixed the issue.

[2020-08-17 07:08] Djennez commented on #15859
The filter `whitelist_options` isn't used in our plugin from what I could find in our code. Closing this as a non-issue.

[2020-08-17 07:08] #15859 closed

[2020-08-17 07:29] Djennez commented on #15862
Seems like a specific fluke in the update routine. Not something I'll be able to reproduce. As this normally works without any issues I'm closing this as a one-off issue. If more people run into this, please comment on this thread (with information) and I'll look into it.

[2020-08-17 07:29] #15862 closed

[2020-08-17 07:38] Djennez commented on #15864
@swissspidy thanks for reporting!

[2020-08-17 07:51] stayallive opened #15869 "Performance issues link_suggestions classic editor large site"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

When editting a post (using the classic editor) we can see that every pause in typing a request is fired of to the `link_sugges

[2020-08-17 08:08] Djennez commented on #15863
@midlandsmaidens thanks for the report. It has come up on a few occasions and I'll ask the PO's to have a look at all the comments / feedback.

Please note that the removal of the option, and the permanent placement of the date, was done to remove confusion. People were thinking that enabling / disabling *our* option, would add / remove the date in Google. Like you say yourself, this is not the ca

[2020-08-17 08:25] Djennez commented on #15865
@swissspidy as far as I can see `wpseo_schema_article_post_types` is called in some deprecated functions, but in some live functions as well. I am also getting an Article schema on web stories (which is what you wanted to achieve, from what I understand). Debugging shows that a breakpoint in your `filter_schema_article_post_types` is hit as well.

Maybe it's going wrong here:
[code]

Does your ins

[2020-08-17 08:58] Djennez commented on #15866
@claudiobrandt I'm unable to reproduce your issue. Can you provide some more information? Have you registered any more custom posttypes? To what name did you change the category base? Got any custom code / mu-plugins active?

[2020-08-17 09:11] Djennez commented on #15868
This is most likely a conflict with another plugin. Please check for any plugin conflicts and / or try to [enable JQ Migrate](https://wordpress.org/plugins/enable-jquery-migrate-helper/) to see if that resolves your issue.

[2020-08-17 09:13] Djennez commented on #15860
Verified, this happens on the desktop preview regardless of the content, while it probably should never happen.

[2020-08-17 09:26] Djennez commented on #15867
Due to no actual updates happening when custom code for custom posttypes is changed, there is no hook we can use to trigger an indexables reset. So a manual reset is needed.

This is still a valid issue, so while you can work around it by resetting the indexables manually, I'm leaving this open to investigate down the line.

[2020-08-17 10:16] jono-alderson commented on #15814
Ooh, this is an interesting conundrum.

So, we do indeed disable canonical URLs on these URLs (because they're set to `noindex`). However, we still construct valid `og` values so that there's a good user experience when these posts are shared.

But, you're right - the 'pretty' `og:url` values often won't map accurately back to the actual search query. I've also run into translation issues around t

[2020-08-17 10:17] jono-alderson commented on #15814
So, my call would be to consider this a bug, but a very low priority one - there's negligable user impact, and no SEO impact.
However, we should correct this for the sake of technical accuracy and 'correctness'.

[2020-08-17 10:42] lazharichir opened #15872 "The FAQ Block triggers the Subheading distribution if it's over 300 words"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

When using an FAQ Block with multiple questions, it almost inevitably triggers the "Subheading distribution" assessment with a

[2020-08-17 10:50] jono-alderson commented on #15809
Good feedback! I agree that we should describe these scenarios, and help users in this situation to make informed decisions.

Unfortunately, the kind of analysis you're describing isn't possible for us without crossing some naughty data collection lines, and, it'd be a nightmare to work out what 'normal' looked like from such a data set without a ton of other metrics.

Could you let me know where

[2020-08-17 11:33] Djennez commented on #15872
Confirmed and agreed that, as this is a list that can possibly collapsed / chunked, it should maybe not trigger this analysis.

[2020-08-17 13:05] Djennez commented on #15869
@stayallive did you run any conflict checks? It looks like other requests are taking waaaaay too long as well (looking at the `_fs_admin` request taking 30 seconds) so this may be unrelated to Yoast.

[2020-08-17 13:33] stayallive commented on #15869
Those requests are actually "blocked" by the Yoast requests.

I say this because both before and after the `link_suggestions` calls these come back <1s (autosave for a fairly large article) which is around what I would expect.

Before:
![image](https://user-images.githubusercontent.com/1090754/90400876-72e02180-e09d-11ea-815d-e6d0b6cad907.png)

After:
![image](https://user-images.githubusercontent

[2020-08-17 13:40] midlandsmaidens commented on #15863
Indeed, in fact it would cause MORE confusion with the date-stamp forced upon users, and then needing to tell them that the date-stamp might not be shown after all.

Hope this is sorted out soon!

[2020-08-17 13:54] Djennez commented on #15837
Ok, was able to replicate the issue now. It's unrelated to classic from what I can gather (issue happens without CE as well). This way of saving data does not run the filters that we hook in to. We might want to hook into the `updated_postmeta` and/or `updated_{$meta_type}_meta` actions. This might solve some other indexables issues as well.

[2020-08-17 14:25] Djennez commented on #15855
Closing this here as the issue is with Core and not Yoast.

[2020-08-17 14:25] #15855 closed

[2020-08-17 17:00] cl0udres opened #15877 "Single sitemap for each subdomain (using WPML)"
Premise: we use WPML to translate our web site (with subdomains) in more than one alternative language and Yoast SEO.

Issue: Yoast SEO doesn't create a different sitemap for each language, but each subdomain (shows the same sitemap with all pages in all languages.

Feature request: we'd like to have a specific sitemap for each language in each subdomain.

Example:

Default language sitemap - /sit

[2020-08-17 17:03] Bylyme commented on #11018
+1 for ul / ol / li

[2020-08-17 17:34] Djennez commented on #15877
Different (sub)domains support individual sitemaps with WPML, as stated here: https://wpml.org/documentation/related-projects/using-wordpress-seo-with-wpml/#translate-sitemaps

If different languages are in subfolders of one domain, only one sitemap is, and should be, generated. But if you really want to alter this, there is probably some code out there to do that. However, we're not going to impl

[2020-08-17 17:34] #15877 closed

[2020-08-17 19:12] vaakash commented on #7332
We need an option to add no-index to bbpress forum users page.

https://wordpress.org/support/topic/add-noindex-to-bbpress-users-page/

[2020-08-18 01:46] devnihil commented on #6364
Please inform the customer of conversation # 640497 when this conversation has been closed.

[2020-08-18 12:34] heArt-coder commented on #9147
Hi and time to ressurrect this issue.
Was able to fix the sitemap with the snippets here yet still having "noindex" is a much worse problem. Any idea how to solve noindex?

[2020-08-18 12:56] #15851 closed

[2020-08-18 12:56] #15082 closed

[2020-08-18 13:04] Pcosta88 commented on #15141
Please inform the customer of conversation # 640342 when this conversation has been closed.

[2020-08-18 13:58] rmens commented on #15741
FYI I just tried this with Yoast 14.8 and that didn't fix the issue.

[2020-08-18 14:43] gregarios commented on #9147
I was able to get mine to work by including this in my functions.php file:

`/**
 * Restore Co-Authors Plus Plugin & Yoast SEO Sitemap Compatibility
 */
function cpt_guest_authors_sitemap( $post_types ) {
        $post_types['guest-author'] = 'guest-author';
        return $post_types;
}
add_filter( 'wpseo_accessible_post_types', 'cpt_guest_authors_sitemap' );

function myseo_sitemap_guest_author_

[2020-08-18 20:12] omarreiss opened #15888 "inc directory cleanup chores"
The inc directory contains a lot of code that could be migrated to `./src` or needs to be deprecated in favor of different solutions. In this issue we can maintain a list of chores we could do to cleanup the `inc` a little so we can eventually wave goodbye to it.

- [ ] Migrate the `endpoints` to `./src/endpoints` and deprecate the old classes.
- [ ] Migrate the `exceptions` to `./src/exceptions`

[2020-08-18 23:37] chrisadwebservices commented on #15863
The problem - the date snippet is taking up characters in description previews when the date snippet will never be shown in Google search results. Now I have to use a third party tool to see if the description is under 155 characters. Yoast just lost the main reason people use it over competitors.

I don’t really know why the decision was made to include the date snippet as mandatory. But I’ve rea

[2020-08-19 08:46] omarreiss commented on #9062
Doesn't look like something we'll address any time soon. I expect this will come up again naturally when we touch that code.

[2020-08-19 08:46] #9062 closed

[2020-08-19 08:47] #9097 closed

[2020-08-19 08:47] omarreiss commented on #9271
Closing since we're going to revise options anyway.

[2020-08-19 08:47] #9271 closed

[2020-08-19 08:48] omarreiss commented on #9416
With indexables, this will soon be rendered obsolete. Closing.

[2020-08-19 08:48] #9416 closed

[2020-08-19 08:49] omarreiss commented on #9664
Breadcrumbs were completely revised with indexables. Closing.

[2020-08-19 08:49] #9664 closed

[2020-08-19 08:51] omarreiss commented on #11043
Duplicate of #10942

[2020-08-19 08:51] #11043 closed

[2020-08-19 08:52] omarreiss commented on #11206
Closing as I don't expect any action on this except for potential codescouting.

[2020-08-19 08:52] #11206 closed

[2020-08-19 08:53] omarreiss commented on #11218
Fixed in #15290

[2020-08-19 08:53] #11218 closed

[2020-08-19 08:55] omarreiss commented on #11311
Will be fixed as part of #15888. The class will be migrated to a helper and nothing will be static anymore.

[2020-08-19 08:55] #11311 closed

[2020-08-19 08:57] omarreiss commented on #11568
Was fixed in https://github.com/Yoast/wordpress-seo/pull/15535

[2020-08-19 08:57] #11568 closed

[2020-08-19 09:05] omarreiss commented on #11908
With the release of 14.0, this has become possible. You can get any metadata including breadcrumbs on the fly using our [surfaces API](https://developer.yoast.com/customization/apis/surfaces-api). We've also made added a [REST API](https://developer.yoast.com/customization/apis/rest-api) endpoint to support headless.

[2020-08-19 09:05] #11908 closed

[2020-08-19 09:09] omarreiss commented on #8196
@moorscode does this issue still apply?

[2020-08-19 09:10] omarreiss commented on #8701
This is in WP core now.

[2020-08-19 09:10] #8701 closed

[2020-08-19 09:12] omarreiss commented on #9084
Can't seem to find any references to `focuskwresults` in the plugin anymore. Closing.

[2020-08-19 09:12] #9084 closed

[2020-08-19 09:13] omarreiss commented on #9119
I think this has been long solved. Closing.

[2020-08-19 09:13] #9119 closed

[2020-08-19 09:17] omarreiss commented on #9192
@Djennez going through all `type:development` issues. But I don't see why this is labeled as such. Shouldn't this be moved to bugreports?

[2020-08-19 09:18] omarreiss commented on #9208
@Djennez going through all `type:development` issues. But I don't see why this is labeled as such. Shouldn't this be moved to feature requests?

[2020-08-19 09:20] omarreiss commented on #9246
Merged this issue with #9245

[2020-08-19 09:20] #9246 closed

[2020-08-19 09:22] omarreiss commented on #9295
@Djennez this seems like either a bug or a feature request. Shouldn't it be moved there?

[2020-08-19 09:22] #15683 closed

[2020-08-19 09:28] omarreiss commented on #9318
If we create issues for every untested piece of code, we could have 1000 extra issues. Of course coverage should be increased. Let's do so in codescouting.

[2020-08-19 09:28] #9318 closed

[2020-08-19 09:29] omarreiss commented on #9389
This looks like a feature request to me. @Djennez why is this labeled `type: development`?

[2020-08-19 09:30] omarreiss commented on #9744
@Djennez this should be moved to feature requests.

[2020-08-19 09:30] omarreiss commented on #9844
@Djennez this is not a development issue but a feature request. Please move to the appropriate place.

[2020-08-19 09:31] jono-alderson commented on #9208
Seems sensible. We should probably reconsider the approach to this now that WP core's canonical guesser is queryable.

[2020-08-19 09:31] omarreiss commented on #9845
@Djennez this looks like a (trivial) bugreport. Not a development issue.

[2020-08-19 09:32] omarreiss commented on #10344
@manuelaugustin is this issue still relevant?

[2020-08-19 09:32] omarreiss commented on #10412
@manuelaugustin is this issue still relevant?

[2020-08-19 09:34] omarreiss commented on #10555
This was fixed in #14806

[2020-08-19 09:34] #10555 closed

[2020-08-19 09:36] omarreiss commented on #11054
Closing this. If we have an issue for all code that still needs unit tests, we will have 1000 more.

[2020-08-19 09:36] #11054 closed

[2020-08-19 09:36] manuelaugustin commented on #10344
@omarreiss No, this issue is not relevant anymore.

It seems to be a duplicate of https://github.com/Yoast/wordpress-seo/issues/10400 which was closed in https://github.com/Yoast/wordpress-seo/pull/10411.

[2020-08-19 09:38] Djennez commented on #10344
In that case: closed :)

[2020-08-19 09:38] #10344 closed

[2020-08-19 09:38] omarreiss commented on #11205
@Djennez this looks like a feature request to me. Can you make sure it's moved to the right place?

[2020-08-19 09:39] omarreiss commented on #11253
This has been so thoroughly reviewed with the indexable overhaul that I expect everything to function as intended now. Closing.

[2020-08-19 09:39] #11253 closed

[2020-08-19 09:44] omarreiss commented on #11454
@afercia is this still a relevant issue? @Djennez if so, could you move this to feature requests?

[2020-08-19 09:45] omarreiss commented on #11267
@Djennez can you move this to bugreports?

[2020-08-19 09:47] omarreiss commented on #11573
@Djennez can you move this to feature requests?

[2020-08-19 09:50] omarreiss commented on #12077
@Djennez could you move this to bugreports?

[2020-08-19 09:52] omarreiss commented on #12167
Seems this should now be covered elsewhere if it wasn't fixed already. Closing.

[2020-08-19 09:52] #12167 closed

[2020-08-19 09:52] #12169 closed

[2020-08-19 09:54] omarreiss commented on #12182
Closing this as we're approaching completion of the framework and will be adding new blocks in the future.

[2020-08-19 09:54] #12182 closed

[2020-08-19 09:58] swissspidy commented on #15865
@Djennez Interesting. When the breakpoint is hit, what's the stacktrace? Because it doesn't happen here.

Again, I don't see any occurrences of `wpseo_schema_article_post_types` in the code base outside the deprecated functions. Is it perhaps a dynamic filter?

**I do** have a valid organization set under SEO -> Search Appearance -> General.

Still, I don't get the Article schema for Web Stories *

[2020-08-19 10:04] omarreiss commented on #12362
This issue is no longer relevant as PHPCS is no longer checked with grunt.

[2020-08-19 10:04] #12362 closed

[2020-08-19 10:04] #12397 closed

[2020-08-19 10:05] omarreiss commented on #12467
@herregroen is this still relevant?

[2020-08-19 10:05] omarreiss commented on #12524
@Djennez can you move this to feature requests?

[2020-08-19 10:06] omarreiss commented on #12643
@igorschoester is this still relevant?

[2020-08-19 10:07] omarreiss commented on #12887
@Djennez can you move this to feature requests?

[2020-08-19 10:07] omarreiss commented on #12911
@Djennez can you move this to feature requests?

[2020-08-19 10:08] omarreiss commented on #12940
@herregroen is this still relevant?

[2020-08-19 10:08] omarreiss commented on #13092
@Djennez could you move this to feature requests?

[2020-08-19 10:18] omarreiss commented on #13527
@igorschoester is this still relevant?

[2020-08-19 11:15] omarreiss commented on #13705
@jono-alderson is this still relevant? @Djennez can you move to bugreports if it is?

[2020-08-19 11:15] omarreiss commented on #13831
This seems fixed.

[2020-08-19 11:15] #13831 closed

[2020-08-19 11:16] omarreiss commented on #13833
@Djennez can you move this to feature requests?

[2020-08-19 11:16] omarreiss commented on #13855
@Djennez can you move this to feature-requests?

[2020-08-19 11:17] omarreiss commented on #13921
@Djennez can you move this to feature requests?

[2020-08-19 11:20] omarreiss commented on #14156
@jono-alderson why is this even needed? Does Google care if it is single member array or string?

[2020-08-19 11:20] omarreiss commented on #14191
@Djennez please move to feature requests.

[2020-08-19 11:20] omarreiss commented on #14197
@Djennez please move to feature requests

[2020-08-19 11:21] omarreiss commented on #14198
@Djennez please move this to feature requests.

[2020-08-19 11:22] omarreiss commented on #14256
Looks fixed to me.

[2020-08-19 11:22] #14256 closed

[2020-08-19 11:24] omarreiss commented on #14295
Seems like this is part of the admin redesign.

[2020-08-19 11:24] #14295 closed

[2020-08-19 11:24] omarreiss commented on #14297
Part of admin redesign

[2020-08-19 11:24] #14297 closed

[2020-08-19 11:26] omarreiss commented on #14349
This was fixed in #15365

[2020-08-19 11:26] #14349 closed

[2020-08-19 11:27] jono-alderson commented on #13705
This is no longer relevant. One less issue! :)

[2020-08-19 11:27] #13705 closed

[2020-08-19 11:28] jono-alderson commented on #14156
No, but other consumers might, and it's technically incorrect.
I think this may be actually been fixed in a recent release by @igorschoester, though! :)

[2020-08-19 11:30] omarreiss commented on #14356
This has been moved to Jira. Closing here.

[2020-08-19 11:30] #14356 closed

[2020-08-19 11:30] omarreiss commented on #14363
@Djennez please move to feature requests.

[2020-08-19 11:37] omarreiss commented on #14377
@Djennez please move to feature requests.

[2020-08-19 11:38] omarreiss commented on #14422
@bintzandt is this issue still relevant?

[2020-08-19 11:40] omarreiss commented on #14587
The Social Previews have been shipped. I expect this issue is obsolete now.

[2020-08-19 11:40] #14587 closed

[2020-08-19 11:42] omarreiss commented on #14767
We've disabled codeclimate entirely.

[2020-08-19 11:42] #14767 closed

[2020-08-19 11:43] omarreiss commented on #14818
@Djennez please move this to feature requests.

[2020-08-19 11:44] omarreiss commented on #15055
Schema tab has shipped.

[2020-08-19 11:44] #15055 closed

[2020-08-19 11:45] omarreiss commented on #15172
Was fixed in #15609

[2020-08-19 11:45] #15172 closed

[2020-08-19 11:46] omarreiss commented on #15194
@herregroen is this still relevant?

[2020-08-19 11:49] #14156 closed

[2020-08-19 11:53] omarreiss commented on #8721
Seems this will now simply be part of the admin overhaul. Closing.

[2020-08-19 11:53] #8721 closed

[2020-08-19 11:54] omarreiss commented on #13435
@Djennez can you move this to feature requests?

[2020-08-19 13:10] BassTea87 opened #15894 "plugin conflict sharing select2 ressource with kt-acuity-integration"
### Please give us a description of what happened.
When I click on the SEO -> Advanced settings toggle under a post or page in editor mode I get a javascript error `Error: No select2/compat/dropdownCss` in `https://mywebsitename.com/wp-content/plugins/kt-acuity-integration/js/selectWoo.min.js?ver=5.4.2` and the whole SEO pane vanishes.

The mentioned js-File is just the "normal" and not the "full"

[2020-08-19 13:22] claudiobrandt commented on #15866
Thanks for taking the time to look into this.

The site has several custom fields, but no custom posttypes. I changed the category name to "classe". I do not have any custom code except the ones on function.php and template files, but they only run when the child theme is activated. As I had said before, I deactivated all plugins and the child theme, and the problem persisted even under the defaul

[2020-08-19 13:22] #15866 closed

[2020-08-19 13:23] Djennez commented on #15865
Welp, ok, my bad. I was testing this with 14.7 it seems. That version works as expected. The function call seems to have been removed in https://github.com/Yoast/wordpress-seo/commit/da9bcd7935f92a4bea9f1a951f48a3ecb4960c0e . And indeed, now it's only called in deprecated functions.

Tagging @jdevalk . Was this change intended and is the wrong filter being used now? Or did the above change "deprec

[2020-08-19 13:57] Djennez commented on #15894
@BassTea87 I don't think this is caused by us. But regardless: did this start happening after an update? Or when did you start noticing this? Have you perhaps disabled JQMigrate on you website (WP 5.5 is causing some JS issues because of this, but you're not on 5.5 according to your report).

[2020-08-19 14:00] Djennez commented on #15559
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-08-19 14:00] #15559 closed

[2020-08-19 14:02] Djennez commented on #15762
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-08-19 14:02] #15762 closed

[2020-08-19 14:25] Djennez commented on #15246
Since I am unable to reproduce the issue, it's a bit difficult to check. Is anyone here able to test if the Draft PR above fixes this issue for their site?

[2020-08-19 14:38] omarreiss commented on #15865
I think this is the main thing we should fix. It's much less implicit than relying on `wpseo_schema_article_post_types`. Asking @herregroen to chip in here.

[2020-08-19 14:44] BassTea87 commented on #15894
@Djennez no, we do not use WP 5.5 yet. We did not change any Yoast settings for long time so I can not say, when this started. But it was there when I wanted to change settings yesterday.

It looks to me like that: When I click on the "advanced" toogle it opens a section where select boxes are used to display values for meta robots and canonical-url selections. These select boxes use functionality

[2020-08-19 16:57] mobilon commented on #15246
@Djennez Sure, i'll test it.

[2020-08-19 18:04] mobilon commented on #15246
@Djennez With this fix, the canonical tag (and all the schema that relies on it) disappears completely. Then i need to hit update again, to make it show up.

This screeshot was made **after** hiting update. All of the parts in yellow were **not** there before updating.

![Screen Shot 2020-08-19 at 15 01 21](https://user-images.githubusercontent.com/20519740/90672688-e1071e80-e22c-11ea-8a5d-53d9836

[2020-08-19 22:50] Shaner18 opened #15897 "SEO analysis & readability sees zero content on post - Using Yoast SEO 14.8 & WP 5.5"
* [X ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

After upgrading to Yoast SEO 14.8, Yoast is no longer able to scan/see the content of our posts, for both SEO Analysis or read

[2020-08-20 05:39] grappler opened #15898 "Error: An error occurred while running 'mapSelect': YoastSEO is not defined"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Went to edit a page in the block editor and got an error that an unexpected error occured and the following was the error messa

[2020-08-20 08:50] ilieviorelsorin opened #15901 "Yoast breaks icon chooser in WPBakery+Ultimate Addons"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

There is an issue with yoast on a Wordpress installation with the WPBakery Builder. This builder has an extension from Brainsto

[2020-08-20 09:04] Djennez commented on #15865
Created 2 internal bugs ( https://yoast.atlassian.net/browse/QAK-2182 & https://yoast.atlassian.net/browse/QAK-2183 ).

One is to bring back the filter that was essentially broken here. The other one is to ship context to the `wpseo_schema_article_type` filter.

[2020-08-20 09:09] swissspidy commented on #15865
Thanks! Would be great to see this land soon. I can also help test/update the Web Stories integration once those are fixed.

In the meantime, time to remove the `wait for feedback` label on this issue? :-)

[2020-08-20 09:09] Djennez commented on #15901
@ilieviorelsorin since these are 2 paid plugins, I won't be able to triage / reproduce this. Do you have any errors / console messages for me? Did this by any chance start happening after WP 5.5?

[2020-08-20 09:11] JBasten opened #15902 "Plugin conflict - Yoast SEO prevents changes in Font Icon Manager for 'Ultimate Addons for WPBakery Page Builder' plugin"
* [x ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Using Ultimate Add-ons for WPBakery Page Builder and Yoast SEO.

Original icons were set like this on page
![capture1](https:/

[2020-08-20 09:13] Djennez commented on #15902
@JBasten is this the same as https://github.com/Yoast/wordpress-seo/issues/15901 ?

[2020-08-20 09:14] JBasten commented on #15902
sorry, yes it looks like it

[2020-08-20 09:24] #15902 closed

[2020-08-20 09:24] Djennez commented on #15898
@grappler please expand upon the steps to reproduce the issue. Seems like you're using custom posttypes as well as a plugin to set the user capabilities, from what I can gather from your screenshot.

[2020-08-20 09:25] ilieviorelsorin commented on #15901
here is ultimate again
https://drive.google.com/file/d/1YIix2J7xTfdhLQr6ik2hPbWC6eDGsALM/view?usp=sharing

On Thu, Aug 20, 2020 at 12:10 PM Djennez <notifications@github.com> wrote:

[2020-08-20 09:32] ilieviorelsorin commented on #15901
alternatively you can use this

*redentials:* schneider-fassaden.gundf-testserver.de/test-icon

http://schneider-fassaden.gundf-testserver.de/wp-admin is the login url

On Thu, Aug 20, 2020 at 12:10 PM Djennez <notifications@github.com> wrote:

[2020-08-20 09:33] Djennez commented on #15897
I've tried the reproduction steps with the text from the provided link and was unable to reproduce the issue.

Based on the information provided, I'd say this is a site-specific issue. One that is probably not caused by our plugin. Since that makes this a support request and not a bugreport, I am going to go ahead and close this thread. If you / anyone are able to determine the *cause* of the prob

[2020-08-20 09:33] #15897 closed

[2020-08-20 09:45] Djennez commented on #15901
No and no.

Please don't publicly distribute licensed / paid software.
Please don't post credentials to systems in public places (even if they are for test environments).
I've edited your comments and removed the revisions.

[2020-08-20 09:51] Djennez commented on #15246
@mobilon thanks a bunch, that confirms my suspicions (unfortunately). Will have to investigate further.

[2020-08-20 09:58] grappler commented on #15898
Hi @Djennez Thanks for your message.

`wp_block` is default WordPress Custom Post Type. In the steps I mentioned I used "[Members](https://wordpress.org/plugins/members/)" to change the roles but you could do that in PHP too to the same effect.

[2020-08-20 11:17] Djennez commented on #15898
I am unable to reproduce this issue, I've created a new role with no permissions other than to edit posts. I tried both setting no options as well as denying any option in the block post type setting.

Have you checked for any other conflicting plugins / code?

[2020-08-20 13:25] Djennez commented on #12077
https://yoast.atlassian.net/browse/QAK-2187

[2020-08-20 13:25] #12077 closed

[2020-08-20 13:33] Djennez commented on #11267
https://yoast.atlassian.net/browse/QAK-2188

[2020-08-20 13:33] #11267 closed

[2020-08-20 13:34] omarreiss commented on #15865
This has been prioritized for 14.9, which is due to come out on September 1st

[2020-08-20 17:08] rodrigo-arias commented on #15868
I have run into this issue and the inability to see Yoast tabs with WordPress 5.5 and Yoast 14.8.

I have tried Enable jQuery Migrate Helper and that does not solve it, but the next version of Yoast does. Here the pre-release https://github.com/Yoast/wordpress-seo/releases/tag/14.9-RC1

Probably related to this #15831

Hopefully this will solve it for you too.

[2020-08-20 17:19] ilieviorelsorin commented on #15901
OK. So how do we go about replicating / fixing the issue then?

On Thu, 20 Aug 2020, 12:45 Djennez, <notifications@github.com> wrote:

[2020-08-20 19:11] amboutwe commented on #10191
Please inform the customer of conversation # 640898 when this conversation has been closed.

[2020-08-20 19:11] amboutwe commented on #10191
Issue remains in current version, Yoast SEO (free or premium) 14.8

[2020-08-21 01:36] rumejan commented on #14429
+ 1 from a Facebook comment [here](https://www.facebook.com/120513077963353/posts/3662038113810814/?comment_id=3662898740391418).

[2020-08-21 08:48] Djennez commented on #15800
@mattu08 for the breadcrumbs in the schema, you can hook into `wpseo_schema_breadcrumblist` and modify the breadcrumblist schema data in there. For the breadcrumb HTML output you may be able to hook into `wpseo_breadcrumb_single_link` to alter the needed item.

If you're able to pinpoint why some breadcrumb items in your site don't have the necessary data, that might be a bug that we can fix.

[2020-08-21 12:21] pouzarm opened #15913 "Yoast FAQ + ACF Pro"
### Please give us a description of what happened.
Yoast FAQ seemes to be bugged when used in ACF repeater field (as InnerBlock). Javascript seems to not work correctly. It duplicates the action buttons and make all Yoast FAQ blocks same text. + You can't write to field (JS moving cursor to start everytime you type).

![image](https://user-images.githubusercontent.com/68845670/90890023-79caa500-e3

[2020-08-21 16:15] askmeoffers opened #15918 "Yoast is not working with latest version of wordpress 5.5"
Hi get error as
Uncaught TypeError: Cannot read property 'loadFacebookPreviewData' of null
    at HTMLDocument.<anonymous> (term-edit-1480.js:1)
term-edit-1480.js:1 Uncaught TypeError: Cannot read property 'loadTwitterPreviewData' of null
    at HTMLDocument.<anonymous> (term-edit-1480.js:1)

This is happening due to some term-edit-1480.js

Please fix this ASAP

![image](https://user-images.github

[2020-08-21 19:50] #15918 closed, assigned to nobody

[2020-08-22 17:18] polevaultweb opened #15919 "Can't create or edit files when using the 'wpseo_allow_system_file_edit' to allow file editing"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

My site uses the constant `DISALLOW_FILE_EDIT` to stop users editing plugins. This means I can't use the File Editor in the plu

[2020-08-22 19:41] VoiceOf1980 opened #15920 "WPSEO settings configured , General, social, Search Appearance, Tools- options and Tab's are not working!"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Short description of  happened.
My Sites wpseo_dashboard are not working Properly!I am Also Update latest Version Plugins. Usually General, social, Search Appearance, Tools ar

[2020-08-23 17:37] brownrl commented on #13235
I am not the one who's livelihood depends on the sales of the Yoast SEO Plugin, so forgive if I don't make a compelling argument for anything regarding Yoast. There are 10000s of legitimate reasons why dynamic blocks are used and need to be accepted wordpress practice.

In the case of lazy blocks the developer is extending and enhancing on the core idea of custom blocks and putting that power in n

[2020-08-23 18:22] sybrew commented on #13235
But that's its sole intention.

The Block Editor is WYSIWYG. So, if it can't return the rendered HTML in real-time, why should other plugins resolve that? If each plugin that wants to render dynamic blocks creates a custom solution to this, we'll have a big slow combobulated mess on our hands. Imagine that 40+ plugins (yes, that's normal) make independent calls to your server whenever you blur a b

[2020-08-23 18:47] brownrl commented on #13235
Look, @sybrew you keep referring to your one line of a blog written by one dev of Wordpress which there have been hundreds of people through many years contributing. He is not the end all be all voice of wordpress.org at all...

The block editor is NOT a Wysiwyg. It is a block editor. It edits and manages blocks. Companies like elementor and others have bastardized it and twisted it into very poor

[2020-08-23 19:32] DinaSkills commented on #15801
Hey, i notice same in my sitemap but notice that  if I update category or tag it does not chage last mod. Aslo no new categories at all eventhough I cached everything done everthing on their page.

[2020-08-23 22:09] iamazik commented on #6364
Please inform the customer of conversation # 642279 when this conversation has been closed.

[2020-08-24 04:24] rumejan commented on #11801
Please inform the customer of conversation # 642276 when this conversation has been closed.

[2020-08-24 06:46] bobbingwide opened #15921 "Support jQuery 3.5.1 before WordPress 5.6 to avoid editor crashing with YoastSEO not defined"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

This is a follow on to #14126, specifically raised for early support of jQuery 3.5.1 prior to its delivery with WordPress 5.6.

### Please give us a description of what happened.

[2020-08-24 06:50] bobbingwide commented on #14126
I expect a number of people who don't have access to your internal log will increase as more people attempt to test their own code's compatibility with jQuery 3.5.1

I've raised https://github.com/Yoast/wordpress-seo/issues/15921

[2020-08-24 07:03] Djennez commented on #15919
I can see how this happens. The filter is only used to show the menu item, but not anymore after that. Upon POST submission the `edit_files` permission is checked once again and hence fails if `DISALLOW_FILE_EDIT` is set.

I believe `DISALLOW_FILE_EDIT` is meant as a line of defense and it feels dangerous to not comply with that setting. So  even though the filter `wpseo_allow_system_file_edit` is

[2020-08-24 07:19] Djennez commented on #15921
For internal reference: https://yoast.atlassian.net/browse/QAK-2015 is the internal bug. Interestingly, there is a comment in there that states that https://github.com/Yoast/wordpress-seo/pull/15735 should have fixed JQ3.5.1 compatibility. A comment on that PR seems to suggest that we're JQ 3.5.1 / WO 5.6 compatible.

Looking at both your findings and that PR, it looks to me like there is somethin

[2020-08-24 07:44] galbaras commented on #11753
As far as I can tell, this issues has been resolved.

[2020-08-24 07:46] galbaras commented on #7829
Given that #11753 now works, why not use the same code for the bulk editor?

[2020-08-24 08:42] afercia commented on #11454
@omarreiss @Djennez
Just checked again and I think two points are still relevant:
- "Open Sans" is still used both in Yoast SEO and in the JS repo: it should be removed (didn't check other addons)
- the font stack for Font Awesome icons still uses fallback fonts: `font-family: "FontAwesome", "Open Sans", Arial, sans-serif;` but I _think_ FontAwesome isn't used any longer now and the related CSS ca

[2020-08-24 08:43] Djennez commented on #11753
Fixed somewhere along the line. I don't remember a specific changelog about this, so this may have been unintentionally fixed with something else.

[2020-08-24 08:43] #11753 closed

[2020-08-24 10:53] bobbingwide commented on #15921
I don't appear to have access to your internal system.

Not sure how you came to that conclusion. The second screenshot was taken when the only two plugins activated were WordPress SEO and wp-jquery-update-test

Since then, I've been performing my own tests with GB 8.8.0 activated as well. I got another message in the block editor with jQuery 3.5.1, Migrate enabled and jQuery UI version default.
!

[2020-08-24 11:50] Djennez commented on #15921
In your table, you indicate that WP 5.5 + Yoast 14.8 + GB 8.8 works, WP 5.5 ships with GB up to 8.5. So if there are problems with Yoast + GB up to 8.7.1 there may be a conflict with JQ 3.5.1 + Yoast + GB up to 8.7.1 and that may be caused by Gutenberg and fixed in 8.8.

Will still need additional testing.

[2020-08-24 12:33] Djennez commented on #15913
@pouzarm can you be a bit more specific in your reproduction steps?

[2020-08-24 13:08] IreneStr commented on #15865
Closing because the above two PRs to fix yoast.atlassian.net/browse/QAK-2182 and yoast.atlassian.net/browse/QAK-2183 have been merged 🎉

[2020-08-24 13:08] #15865 closed

[2020-08-24 13:27] mibu31 opened #15925 "Only the function `ctype_digit()` should be checked?"
wordpress-seo.14.8.zip

`Fatal error: Cannot redeclare ctype_digit() (previously declared in /vagrant/vendor/symfony/polyfill-ctype/bootstrap.php:24) in /vagrant/public_html/wp-content/mu-plugins/wordpress-seo/inc/wpseo-functions.php on line 209`

`wordpress-seo\inc\wpseo-functions.php L:200`
`if ( ! extension_loaded( 'ctype' ) || ! function_exists( 'ctype_digit' ) ) {`

If you do not have the cty

[2020-08-24 13:39] mattu08 commented on #15800
@Djennez Thanks for the extra of information, I'll do some more digging/investigation. I'll leave this open for now just in case I manage to pinpoint anything. Thanks for your help. 👍

[2020-08-24 13:56] Djennez commented on #15925
Hmmm, @herregroen can you shed some light on this? Since ctype_digit should be part of the extension, should`||` be `&&` ?

[2020-08-24 15:20] #14240 closed

[2020-08-24 15:20] #15796 closed

[2020-08-24 18:21] Shaner18 commented on #15897
I had another consultant look at the issue and they felt that ACF Content Analysis for Yoast SEO 2.6 & Advanced Custom Fields PRO 5.9 are running into problems with Yoast SEO 14.8. Is that possible?

[2020-08-25 06:44] Djennez commented on #15869
What responses do you receive when one of the requests finally finishes? If you install the Query Monitor plugin, what information can you find in the return headers of the request (QM adds some timing-related headers there).

Did you perform a conflict-check as well?

[2020-08-25 06:56] Djennez commented on #15901
Did this start after the WordPress 5.5 update? Or another specific moment?

[2020-08-25 08:38] Djennez commented on #15894
It seems we're phasing out select2 from our plugin (looking at https://github.com/Yoast/javascript/pull/839 and future plans). So instead of investigating this issue further, I think it's more efficient to just wait for these releases (I assume 15.0 will solve this particular issue).

Closing this for now, feel free to let us know if the problems are not fixed / changed after 15.0.

[2020-08-25 08:38] #15894 closed

[2020-08-25 13:23] RS1-Project opened #15932 "WPSEO_Replace_Vars service breaks WP admin HTML output"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
After updating WordPress to version 5.5, Yoast SEO to version 14.8.1 (or 14.8 - same problem) and Elementor to the latest versio

[2020-08-25 13:30] Djennez commented on #15932
Elementor is fixing the breaking pages issue on their end (https://github.com/elementor/elementor/issues/12219). We are fixing the notice on our end in 14.9.

Closing this as it's no longer relevant.

[2020-08-25 13:30] #15932 closed

[2020-08-25 14:30] ilieviorelsorin commented on #15901
There was no specific moment. We experienced this issue before the update
and we hoped the issue is solved by updating everything.

Yoast is usually the last plugin we install. And at that point the content
entry team found the issue.

On Tue, 25 Aug 2020, 09:56 Djennez, <notifications@github.com> wrote:

[2020-08-25 17:00] Djennez commented on #7710
This functionality has been built in to the [Yoast Test Helper Plugin](https://nl.wordpress.org/plugins/yoast-test-helper/). Closing this issue.

[2020-08-25 17:00] #7710 closed

[2020-08-25 17:12] Pcosta88 commented on #15932
See also https://github.com/elementor/elementor/issues/12224

[2020-08-25 18:22] JacobDB opened #15933 ""SEO issue" notice on featured images displays incorrect in WordPress 5.5"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

When you set a featured image with a resolution less than 200x200, a notice appears indicating that the image should be larger.

[2020-08-25 18:26] JacobDB commented on #15933
I looked through the source code, and it appears that you're using JS to display the "SEO issue" message. There's actually a handy hook you could use to do this instead. Here's an example:

[code]

I might be able to find time to submit a pull request, but I wasn't sure how ingrained this stuff was in your JS.

[2020-08-25 19:39] SabbirAmd opened #15934 "Plugin Update of Yoast SEO 14.8.1 is showing update failed and crashing the site"
### Please give us a description of what happened.

Wordpress Plugin Update of Yoast SEO 14.8.1 is showing update failed and crashing the site and keep the site in maintenance stage for unlimited time.

### Please describe what you expected to happen and why.

Expectation to update the plugin without any error.

### How can we reproduce this behavior?
1. Install Wordpress Plugin Update of Yoast SE

[2020-08-26 02:47] galbaras commented on #15472
Any progress with this?

@Djennez What, if anything, is the SEO impact of this issue (you obviously think it's minor)?

[2020-08-26 06:27] Djennez commented on #15934
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-08-26 06:27] #15934 closed

[2020-08-26 06:43] Djennez commented on #15933
Well, that's ugly 😅 Confirmed.

@JacobDB PRs are always welcome. However, if it is currently done via JS only, my guess is that they'd want it to stay that way.

[2020-08-26 07:44] michaelbriantina commented on #14429
Please inform the customer of conversation # 642934 when this conversation has been closed.

[2020-08-26 07:55] behzadian opened #15935 "Persian sentence difference between sentence and paragraph"
* [-] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [-] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
I used yoast for my website that is in Persian. but yoast detects paragraphs as sentences. for example if I have a paragraph wit

[2020-08-26 07:57] Djennez commented on #15472
Depends, if the result of this error is that there is wrong information in the schema / breadcrumbs / metadata of a post / page, then I guess it has some serious SEO impact. But it looks like this happens on attachment updates, so I'm not sure if that would result in this wrong data. But since there is way to reproduce this yet, I can't be 100% on that.

[2020-08-26 09:50] monbauza commented on #14429
+1 Twitter user https://twitter.com/Iamkingsleyf/status/1298548477388103682

[2020-08-26 10:27] mattu08 commented on #15800
@Djennez Do you have any helpful links to show how to use these hooks, I've found some information on wpseo_breadcrumb_single_link but can't find anything refereeing to "wpseo_schema_breadcrumblist". Any information on both of these would be greatly appreciated.

Thanks,

Matt

[2020-08-26 10:30] Zabi09 opened #15936 "Unparsable structured data Incorrect value type"
Hi, I am one of the developers of the AMPforWP plugin and some of our users are saying that there are facing the schema error on their website – https://monosnap.com/file/6VGfC9ACBkpKRCRJJLVUsu54gxbC9K and I have debugged the issue on my localhost and found that everything is working correctly till 14.7 version and as I update to 14.8 version than the Yoast schema of the other posts and pages are

[2020-08-26 10:51] Djennez commented on #15800
@mattu08 https://developer.yoast.com/features/schema/api/#change-a-graph-pieces-data should provide you with what you need. `wpseo_schema_<piece>` is a dynamic filter. `breadcrumblist` is the name of the breadcrumbs piece. You can send 2 arguments: the return value is $graph_piece and the second one is $context.

[2020-08-26 11:00] ayses1 opened #15937 "Yoast SEO meta box is blank"
### Source
`Yoast SEO meta box is blank. can you help with the matter please?'
The link to the problem is below
[https://ibb.co/m5YK5Rx](url)

### Campaign
`wordpress`

### Content type

_What type of content are you linking to?_

- [ ] `general` (a blogpost or general info page)
- [ ] `support` (a kb page)
- [ ] `ad` (a product page)

### Content

_Where in the plugin will this link be?_

- [ ] `

[2020-08-26 11:21] Djennez commented on #15936
Hmmm, with those steps, I have not been able to reproduce the issue. Might be that some step somewhere is missing?

[2020-08-26 11:31] Djennez commented on #15935
@behzadian please update to 14.8.1 and report back if you still experience this issue.

[2020-08-26 11:31] Zabi09 commented on #15936
Are you sure you are checking the schema markup on the AMP homepage like http://localhost/wordpress/amp/ and not on normal homepage and also are you using only the static page in reading settings without the blog page?

[2020-08-26 12:17] Djennez commented on #15936
Ah, can reproduce now.

[2020-08-26 12:39] Djennez commented on #15936
@Zabi09 at the same moment of this issues' submission, there have been some internal investigations of our schema code and we're looking into fixing our output of nulled / empty values. The PR mentioned above should fix the `@ type` of `null` that is ending up in schema. There are still some other nulled values though. We're looking into it.

[2020-08-26 14:55] #15833 closed

[2020-08-26 16:06] andy936 opened #15944 "Feature request: global template setting for the Facebook Title/Description"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

Hi,

I'm not a developer but someone from plugin support at Wordpress.org suggested I post here. The reason is that, currently, there is no global template setting for the Faceboo

[2020-08-27 05:41] Zabi09 commented on #15936
@Djennez Thank you so much for fixing the issue and can you please tell me when you are going to push the update so that I can tell our users as there are asking the same

[2020-08-27 06:29] ddnetters opened #15952 "Chinese and russian urls get capitalized in the sitemap, breaking Google Search Console"
* [x ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Chinese and Russian characters get capitalized in the sitemap resulting in Google Search Console not being able to crawl the

[2020-08-27 08:26] Djennez commented on #15944
Hi @andy936, can you please provide examples on why this would be useful exactly? You can change the default SEO title in the options, and that is being used for Facebook as well. So why would you want this different for Facebook?

[2020-08-27 09:11] Djennez commented on #15845
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-08-27 09:11] #15845 closed

[2020-08-27 09:12] Djennez commented on #15868
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-08-27 09:12] #15868 closed

[2020-08-27 09:24] Djennez commented on #15952
@ddnetters would you mind providing more information on why this behavior is wrong? What errors is the GSC providing?

[2020-08-27 10:30] humet opened #15959 "Lifter LMS / Woocommerce Notifications"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

When Yoast SEO is activated Woocommerce notifications (such as 'Added to cart') are suppressed on LifterLMS single course pages

[2020-08-27 10:48] Djennez commented on #15959
@humet please first update Yoast to 14.8.1 (latest version as of this writing) and try again. If that still does not work, please look for any errors in your console / PHP logs. I wonder how / why our plugin would cause this.

[2020-08-27 11:52] andy936 commented on #15944
Hi @Djennez,

I'd like to remove the site title variable because it's redundant on a Facebook post. My website has around 7000 articles and editing them individually would be a nightmare.

[2020-08-27 12:17] Djennez commented on #15944
Hmm ok, I see this FR has already been create [here](https://github.com/Yoast/wordpress-seo/issues/7815), so I'm going to go ahead and close this one.

[2020-08-27 12:17] #15944 closed

[2020-08-27 13:25] humet commented on #15959
@Djennez I have updated to 14.8.1 and can't see any errors in the console or log.

[2020-08-27 15:05] Pcosta88 commented on #15572
Please inform the customer of conversation # 641278 when this conversation has been closed.

[2020-08-27 15:33] mattu08 commented on #15800
@Djennez

Managed to Hook into the "breadcrumblist" as suggested and removed the blank array from the schema data this has fixed the issue.

Before fix $data Array.

[code]

After fix, $data Array:

[code]

Created the hook and removed the blank Array example test code below:

[code]

Also a heads up for anyone doing this to get a PHP usable Array back use var_dump(); on the $data Array object. e.

[2020-08-27 17:40] hopper08 opened #15962 "Can't run the config wizard"
I'm trying to set up the Yoast SEO pluging in my WordPress site and I can't run the configuration wizard. When I try to I get an error message saying "The configuration wizard could not be started. The likely cause is an interfering plugin. Please check for plugin conflicts to solve this problem."

I installed the Health Check & Troubleshooting plugin to help diagnose the issue. I went into troubl

[2020-08-27 19:31] Djennez commented on #15962
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-08-27 19:31] #15962 closed

[2020-08-27 20:59] rodrigo-arias commented on #14525
Hi, I can confirm that I am experiencing the same problem.

[2020-08-27 21:10] claytoncollie commented on #14525
Here is the console error I am getting:

<img width="1435" alt="image" src="https://user-images.githubusercontent.com/4236538/91495082-96fee800-e87f-11ea-9bcb-de94ecbdc7cb.png">

It is conflicting with my plugin that uses methods from the `@wordpress/edit-post` package, namely `PluginPostStatusInfo` to insert custom functionality into the Block Editor sidebar. I think I am going to exclude this sc

[2020-08-28 08:41] Djennez commented on #15800
Just FYI, we've recently began investigating when / why / how these empty schema pieces are returning as we're seeing it too often. So any information you can provide us about your setup would be useful. Like for example: what settings do you use in your settings -> reading page and what settings are used in SEO -> Search Appearance -> breadcrumbs?

[2020-08-28 09:37] mattu08 commented on #15800
@Djennez I have happened to find out what was creating the blanks our end, this may be different for other people. The two sites with the issue, have had there /blog/ and /success-stories/ removed, For example: [https://www.hiltonbairdaudit.co.uk/alan-baird-named-lecturer-of-the-year-again/](https://www.hiltonbairdaudit.co.uk/alan-baird-named-lecturer-of-the-year-again/) would be `/blog/alan-baird

[2020-08-28 20:36] rtpHarry opened #15969 "Missing styles for some slide out help panels"
* [ ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
In some scenarios the left padding is missing on the slide out panels.

It seems to be when its right under the header of a box:

[2020-08-28 23:01] gilby65 opened #15970 "SEO Meta Box Not Working"
* [! ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
I have gone to my posts--and posts that I want to redo on my website and the SEO meta box is there but none of the analysis, re

[2020-08-29 11:22] iamazik commented on #15932
Fixes https://github.com/Yoast/wordpress-seo/issues/15932 and will include in Yoast SEO v14.9.

[2020-08-29 15:17] priscillamc commented on #11248
Please inform the customer of conversation # 644198  when this conversation has been closed.

[2020-08-29 16:08] iamazik commented on #6364
Please inform the customer of conversation # 644197 when this conversation has been closed.

[2020-08-29 21:46] Djennez commented on #15970
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-08-29 21:46] #15970 closed

[2020-08-30 05:17] behzadian commented on #15935
I'll try it

[2020-08-30 06:04] gilby65 commented on #15970
Great, another useless venue. What is it, you guys want money? Thank for nothing. I was only directed to your site.

Gil
On Aug 29, 2020, 17:46 -0400, Djennez <notifications@github.com>, wrote:

[2020-08-30 08:39] timurkayzer commented on #15278
@dariaknl Will there be any other way yo clear index without wp-cli? Just released website through backuping and met this problem, maybe, it'd be cool to do it with button in admin panel or something like this.

[2020-08-30 16:21] Djennez commented on #15278
@timurkayzer at the moment, there is no such feature without using WP-CLI or installing our Yoast Test Helper plugin (available on wordpress.org). With the latter option, you can install the plugin, go to tools -> Yoast Test Helper and hit the "Reset migrations and indexables" button. After that, you will receive the notification again to index your site.

[2020-08-31 03:20] ashwinbalaji0811 opened #15974 "The configuration wizard could not be started. The likely cause is an interfering plugin."
![image](https://user-images.githubusercontent.com/28635635/91679824-00744480-eb67-11ea-91c8-3296bb3f8574.png)
![image](https://user-images.githubusercontent.com/28635635/91679865-0bc77000-eb67-11ea-81b7-9556d44f2d3c.png)

[2020-08-31 07:08] Djennez commented on #15974
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-08-31 07:08] #15974 closed

[2020-08-31 07:25] Djennez commented on #15969
Hmmm, I have seen this issue before, but I can't remember where and I can't find it anymore. So I'll just put this in the issues list :)

[2020-08-31 08:01] Djennez commented on #15741
I got around to checking it, but with the theme installed I can still index without issues. So we're looking at a somewhat more complex chain of events that is causing this.

Testing this did spark a possible workaround idea. If the theme is indeed the cause in your case, can you run the CLI command with the `--skip-themes` parameter? This should skip theme initialization and possibly skip the cod

[2020-08-31 12:16] rmens commented on #15741
With `wp yoast index --reindex --skip-themes` parameter it worked without issues.

![Schermafbeelding 2020-08-31 om 13 58 30](https://user-images.githubusercontent.com/6742496/91717659-3aa70b80-eb92-11ea-8f70-9d8c8a948a85.png)

When I did a `wp yoast index --reindex` it got stuck again.

So there seems to be something in the database that the theme calls that it's chewing on.

[2020-09-01 11:26] Djennez commented on #15802
@bkwineper can you check if installing https://wordpress.org/plugins/enable-jquery-migrate-helper/ possibly fixes this issue? Because the same sort of issue happens with GutenBerg / Blockeditor as well and that is related to a core bug.

[2020-09-01 11:59] Djennez commented on #7137
No longer relevant; closing.

[2020-09-01 11:59] #7137 closed

[2020-09-01 12:14] Djennez commented on #7243
Seems to be working in 14.9.

[2020-09-01 12:14] #7243 closed

[2020-09-01 12:15] Djennez commented on #7248
This copy has been changed and now links to https://yoast.com/outbound-links/

[2020-09-01 12:15] #7248 closed

[2020-09-01 12:21] #9087 closed

[2020-09-01 12:22] Djennez commented on #9344
This has seen quite the overhaul recently. Is this still an issue?

[2020-09-01 12:39] herregroen commented on #12940
This was fixed by https://github.com/Yoast/wordpress-seo/pull/13252, not sure why the issue didn't automatically close.

[2020-09-01 12:39] #12940 closed

[2020-09-01 12:50] Djennez commented on #13445
This has been fixed with the indexables release/

[2020-09-01 12:50] #13445 closed

[2020-09-01 12:56] Djennez commented on #13982
Seems that this is fixed (tested on 14.9)

[2020-09-01 12:56] #13982 closed

[2020-09-01 13:08] pySilver commented on #9344
IDK, im not using WP any more.

[2020-09-01 13:14] Djennez commented on #14648
This is not ours to fix. This error shows up because the code isn't capable of handling a non-existing author. And since no author ID is known during a run through the `the_content` filter this will fail.

Because of this, I'll be closing the issue here.

[2020-09-01 13:14] #14648 closed

[2020-09-01 13:37] Djennez commented on #15959
@humet do you have a link to the LifterLMS plugin? Is that [this one](https://wordpress.org/plugins/lifterlms/)?

Since you indicate you're on WP 5.5 and it looks like a JS issue, have you tried [this plugin](https://wordpress.org/plugins/enable-jquery-migrate-helper/) yet?

[2020-09-01 14:29] bkwineper commented on #15802
@Djennez - Thanks for the suggestion.

No, it did not work. The same thing happens even with the jquery migrate helper.

As far as I can remember, the issue was there already before WP 5.5 so this was as expected.

I could also add that with the new version of Elementor (version 3) this becomes an even more important issue, since it now affects more of the admin tasks. I can also add that in sever

[2020-09-01 16:27] Freekbron commented on #14429
Would love to see this feature implemented!

[2020-09-01 19:04] DAreRodz opened #15983 "Canonical link in the `yoast_head` field doesn't include the port number"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Hi, Yoast Team! :wave:

I'm running a local instance of WordPress at `http://localhost:8080` that I use as the back-end for a s

[2020-09-01 19:07] DAreRodz commented on #15983
I realized that the canonical URL is wrong also in the WordPress theme. If I go to `http://localhost:8080/hello-world/` the link tag included in `<head>` is this one:

[code]

[2020-09-01 19:41] DAreRodz commented on #15983
I just started to think I messed up something with the database because it is working fine with other posts and I created this WordPress instance using another's database... :sweat_smile:

I'm going to close the issue. If I finally find it is a problem with the Yoast plugin, I'll reopen it. Sorry for any inconvenience!

[2020-09-01 19:41] #15983 closed

[2020-09-01 19:54] Djennez commented on #15983
Hi @DAreRodz ! This [_was_ an issue](https://github.com/Yoast/wordpress-seo/pull/15599), but with 14.9 this should have been fixed. Though it's necessary to rebuild the indexables to propagate the correct permalinks in the database. This is probably the reason that newly created posts (with 14.9) work correctly.

[2020-09-02 06:54] Djennez commented on #15453
14.9 dropped yesterday which deprecates the `wp_yoast_seo_meta` table. On a new installation, this table is not created anymore. You can try backing up the table and dropping it.

[2020-09-02 07:15] Djennez commented on #15802
Well, if that doesn't fix it, and the just released WP 5.5.1 doesn't fix it, I'll have a look at it.

[2020-09-02 07:21] bkwineper commented on #15802
Since it's pre-dating WP 5.5 I doubt it will. But I will try it ASAP and get back to you here.

[2020-09-02 08:33] Djennez commented on #15920
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-09-02 08:33] #15920 closed

[2020-09-02 08:48] humet commented on #15959
@Djennez Yes, that is the correct plugin.

I don't think it is a javascript issue. The notification gets triggered by an 'add to cart' URL parameter.

Like this: https://revolax.uk/course/revolax-lip-perioral-masterclass/?add-to-cart=41763

Yoast SEO Activated:

<img width="1008" alt="Screenshot 2020-09-02 at 09 48 18" src="https://user-images.githubusercontent.com/3963951/91960162-76141800-ed01-1

[2020-09-02 09:05] Djennez commented on #12923
Closing because the [parent issue](https://github.com/Yoast/roadmap/issues/96) is not being developed anymore.

[2020-09-02 09:05] #12923 closed

[2020-09-02 09:06] Djennez commented on #12931
Closing because the [parent issue](https://github.com/Yoast/roadmap/issues/96) is not being developed anymore.

[2020-09-02 09:06] #12931 closed

[2020-09-02 09:06] Djennez commented on #12942
Closing because the [parent issue](https://github.com/Yoast/roadmap/issues/96) is not being developed anymore.

[2020-09-02 09:06] #12942 closed

[2020-09-02 09:06] Djennez commented on #13028
Closing because the [parent issue](https://github.com/Yoast/roadmap/issues/96) is not being developed anymore.

[2020-09-02 09:06] #13028 closed

[2020-09-02 09:06] Djennez commented on #13024
Closing because the [parent issue](https://github.com/Yoast/roadmap/issues/96) is not being developed anymore.

[2020-09-02 09:06] #13024 closed

[2020-09-02 09:06] Djennez commented on #13029
Closing because the [parent issue](https://github.com/Yoast/roadmap/issues/96) is not being developed anymore.

[2020-09-02 09:06] #13029 closed

[2020-09-02 09:06] Djennez commented on #13053
Closing because the [parent issue](https://github.com/Yoast/roadmap/issues/96) is not being developed anymore.

[2020-09-02 09:06] #13053 closed

[2020-09-02 09:08] bkwineper commented on #15802
@Djennez I've now tested with 5.5.1. No change. Still the same issue.

I also tested (re-tested, as per the above) with all but the necessary plugins (Classic Editor, Elementor, Elementor Pro, the WPML suite, Yoast, Yoast Multilingual) deactivated. Same thing, as expected.

I realise that this may be complicated, but it is even more complicated for me since it involves three different plugin autho

[2020-09-02 09:11] LifeIsADeflatingVest opened #15987 "Number of Internal Links Erroneously Reports 0"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
After the 14.9 update, many posts show 0 internal links (0 posts linking to the specific post), which is inaccurate.

### Please

[2020-09-02 09:14] Djennez commented on #15272
This has been fixed. Closing.

[2020-09-02 09:14] #15272 closed

[2020-09-02 09:40] Djennez commented on #15987
@LifeIsADeflatingVest can you try installing the Yoast Test Helper Plugin and resetting the migrations / indexables and re-index your site again? I think that should work.

[2020-09-02 09:53] DAreRodz commented on #15983
Oh, I see. I'm glad it was already solved. I've just reset the indexables using the Yoast Test Helper and now it's working as expected.

Thanks for your time, @Djennez! :blush:

[2020-09-02 09:55] LifeIsADeflatingVest commented on #15987
Not only did this not work, but it seems to have messed up the existing numbers, too. Now there are posts that should show only 1 link, and they show 6 😄

[2020-09-02 10:56] midlandsmaidens commented on #15863
Just something else that I think needs mentioning:

Just been doing one of my SERPS checks for the week, and I found that all of my competitors that are using the version of Yoast with the embedded timestamp feature have dropped out of existence now that Google has caught up with their silly timestamps on homepages.

When will Yoast finally admit that they made a huge blunder with this awful decis

[2020-09-02 11:13] Djennez commented on #15863
The showing / hiding of the date in the metabox does not influence Google. It's a visual aid in the snippet preview and not something that Google can see or get influenced by.

[2020-09-02 11:22] midlandsmaidens commented on #15863
I must beg to differ on that last comment Djennez, as will my competitors that have just fallen through the floor from (in one case) a page one ranking at position 1-2, down to nowhere.

The visibly embedded timestamp, that we are now forced to navigate around, is also visible in the source code, so how can Google NOT see it?

Far from it being a visual aid, it's a huge inconvenience to all those

[2020-09-02 11:36] Djennez commented on #15863
Please explain.

[2020-09-02 11:53] midlandsmaidens commented on #15863
Just checked, and my apologies, it's NOT in the source code.

Rather confusing that, isn't it, that something that's in the meta description box does NOT appear in the source code?

This new version is far too confusing and if Yoast is refusing to allay the confusion, I'll soldier on with a less confusing SEO plugin (and let my competitors worry why Yoast is not working for them either).

[2020-09-02 12:22] Djennez commented on #15863
Apology accepted.

Depends on your experience / knowledge / acceptance; The snippet editor was never meant, or marketed, as *the* interface that Google will use to show your page. And as we've made clear; we do not influence if Google does or does not show the date. That's up to them. Which is the main reason we removed the option to hide the date; people were thinking that this was actually resul

[2020-09-02 12:34] stayallive commented on #15869
I have just retested is with Yoast 14.9 and it still looks like this:

![image](https://user-images.githubusercontent.com/1090754/91978239-154a0700-ed24-11ea-9494-70423f3d64ec.png)

I just typed "a a a a a a a a a a a a a" in the editor... not much special but every `a` causes a identical to the one before it `link_suggestions` call _before_ the other `link_suggestions` call is finished or cancell

[2020-09-02 12:44] midlandsmaidens commented on #15863
Well all I will add to that is that in my 10 years of experience with Yoast (and a few other SEO plugins), I have NEVER found a date on the homepage of any website, or on its pages, or products, or custom post types.

Blog posts, of course, are MEANT to be dated, and these are now beginning to filter through.

It really is beyond my limited way of thinking that Yoast now chooses to add this timest

[2020-09-02 13:46] Pcosta88 commented on #13794
Please inform the customer of conversation # 645027 when this conversation has been closed.

[2020-09-02 14:23] LifeIsADeflatingVest commented on #15987
**Update**

I downgraded to 14.8.1 and the problem is *solved* - now there are no more posts reporting zero internal links. The posts whose number increased remains unaltered, but I thought that perhaps the plugin also takes into consideration links from tag/archives pages, discovered and indexed via resetting the migrations/indexables.

I'll probably update back to 14.9 since this isn't a crucial

[2020-09-03 06:07] suascat commented on #13213
Please inform the customer of conversation # 644267 when this conversation has been closed.

[2020-09-03 08:38] jono-alderson commented on #14482
Now described in here: https://developer.yoast.com/features/schema/pieces/image/

[2020-09-03 08:38] #14482 closed

[2020-09-03 09:24] jono-alderson commented on #13010
Moved to Jira: https://yoast.atlassian.net/browse/PROD-224

[2020-09-03 09:24] #13010 closed

[2020-09-03 09:27] undertaker001 opened #15989 "[Bug] After updating to 14.9 Yoat, Unable to open gutenberg.!"
* [ ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Hi. After updating Yoast to latest version 14.9 , i am unable to open gutenberg editor or edit any of my previous posts. I just

[2020-09-03 09:41] undertaker001 commented on #15989
Seems like it is gutenberg issue. Reverting back to 8.8.0 gutenberg fixed the issue... I think both yoast and gutenberg somehow conflicting (because when use older yoast with newer gutenberg, again gutenbeg works fine) and causing this issue. hope someone figure it out..

[2020-09-03 09:41] #15989 closed

[2020-09-03 09:56] Djennez commented on #15989
I feel like it could be [this change](https://github.com/WordPress/gutenberg/pull/24548/files) in GutenBerg. As soon as you set a featured image on your post, this `TypeError` about the `source_url` pops up.

[2020-09-03 13:54] jono-alderson commented on #14467
Moved to Jira: https://yoast.atlassian.net/browse/PROD-231

[2020-09-03 13:54] #14467 closed

[2020-09-03 14:02] jono-alderson commented on #13104
Closing, since WP has for some time enforced the creation of a 'real' user at installation.

[2020-09-03 14:02] #13104 closed

[2020-09-03 18:28] jsumali commented on #6706
Thanks @tony47 , your comment helped in 2020 🎉

[2020-09-03 19:52] omarreiss commented on #6712
Superseded by core auto updates.

[2020-09-03 19:52] #6712 closed

[2020-09-03 19:54] omarreiss commented on #7523
Resolved in the links refactor.

[2020-09-03 19:54] #7523 closed

[2020-09-03 19:56] omarreiss commented on #10803
I think this is solved once we use JS language packs. Closing.

[2020-09-03 19:56] #10803 closed

[2020-09-03 19:58] omarreiss commented on #11682
Not sure if this is still relevant. Will include this in my review of webpack and babel dependencies.

[2020-09-03 19:58] #11682 closed

[2020-09-03 20:45] rentageekmom commented on #7332
Hi, seconded: this is an issue for our team as well.

[2020-09-03 23:19] CentralOR opened #15992 "Invariant Violation: Minified React error #130"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Getting an error when I try to edit a post, CPT (made with CPT UI), or a page with the block editor.

Invariant Violation: Minif

[2020-09-04 00:56] smerriman opened #15994 "Major conflict with ACF plugin"
[x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
[x] I've searched for any related issues and avoided creating a duplicate issue.

Note I have reported this issue to the developer of ACF; it's hard to know which side the issue is but, he suggested reporting it here as well.

### Please give us a description of wh

[2020-09-04 06:36] Djennez commented on #15992
Hi @CentralOR . I have [seen this error before](https://github.com/Yoast/wordpress-seo/issues?q=is%3Aissue+isShallowEqualObjects). It is most likely something outdated on your side. Please make sure your browser, WordPress and plugins are all updated to their latest versions.

Closing as duplicate / support request.

[2020-09-04 06:36] #15992 closed

[2020-09-04 10:49] Djennez commented on #15987
It's strange. I can't reproduce this behavior locally on on our live site. The numbers always seem to update correctly. The new system does indeed gather data from more places, so maybe the number was incorrect before and is now reflecting the correct amount? Can that be possible?

[2020-09-04 10:54] LifeIsADeflatingVest commented on #15987
I'm afraid not, as I follow a very hands-on approach regarding my links and I know for a fact that there are only a couple of posts without any internal links (i.e. linked to). I estimate about 10% of the posts (so, about 20-25 in total) showed 0 internal links which is not accurate.

So, although the increased numbers (i.e. posts showing more internal links than I anticipated) might now be more a

[2020-09-04 11:39] Djennez commented on #15959
Can you provide the exact steps to get to the problem? From just after installing the 2 needed plugins to seeing the error.

[2020-09-04 12:49] jenkoian commented on #15522
Hi just checking in to see if there's any progress being made on this? I realise it's a tricky one and something that [WooCommerce have struggled with recently too](https://github.com/woocommerce/woocommerce/pull/27395).

As an alternative, could you possibly offer up a built version of the plugin via composer?

[2020-09-04 14:14] claytoncollie commented on #14525
For anyone else having this problem, it is only when using the Classic Editor, so if you need to use the `@wordpress/edit-post` package, enqueue your scripts on this hook, `enqueue_block_editor_assets` so that they are only present in the Block Editor.

[2020-09-04 15:44] doffine opened #16001 "Please add a feature to disable the newly intodruced update notifications"
Hello Yoast team,

as suggested by your support in https://wordpress.org/support/topic/disable-the-new-update-notification-and-the-badges/#post-13362367 here comes our feature request on GitHub.

We find the new update notifications if Yoast got an update more than annoying. Everytime there is a Yoast update you have red update badges in the WordPress' backend and there is no possibility of disabl

[2020-09-04 16:04] Andron7676 opened #16003 "Request for a new function to disable the markup schema button Schema.org"
Hello! I'm not very good at SEO promotion, so I'll take all the criticism on Board. Question in such I have in topic developers established markup Schema.org there is also a yoastseo plugin on the site and it also implements markup Schema.org
Then you get a duplicate of this very markup.
Since there is no way to disable it in the plugin itself, just by code - but I'm not very good at code. Please

[2020-09-04 17:50] Djennez commented on #16003
We have [filters in place](https://developer.yoast.com/features/schema/api/#to-disable-schema-entirely) to disable schema markup. If you don't want or can use these filters yourself, there are probably some developers out there who can help you with this. This won't be an option within the plugin in the foreseeable future.

[2020-09-04 17:50] #16003 closed

[2020-09-04 21:34] TheronP opened #16004 "Power Builder broken with latest WP/PB/Yoast"
### Please give us a description of what happened.
Power Builder unable to install modules after latest WP and Yoast Update

Versions: WP 5.5.1
Power Builder: 1.3.0
Yoast Premium: 14.9

Get javascript error when loading new post page in Text Editor:

app.js?ver=1.3.0:2596 Uncaught TypeError: Cannot read property 'registerPlugin' of undefined
    at new TM_PB_Yoast_Content (app.js?ver=1.3.0:2596)

[2020-09-04 21:40] FranRomero opened #16005 "Cannot add 🥇emoji on page title SEO"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

I have a pattern on every page I have on my Wordpress. The pattern is the following:

▷ Title

And it works well.

But when I w

[2020-09-05 07:44] oldskulltuning opened #16006 "Category - Page not found"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

I'm working offline with Xampp. I have created a new voice in Menu using "category" news, then through Yoast Settings/search ap

[2020-09-05 10:13] MrSaroha opened #16007 "error: Uncaught Error: Call to undefined method WPSEO_Options::set() while activate"
Dear support team, I try to activate WordPress SEO premium version 14.9 on my WordPress version 4.9.5 but it shows an error that is

Fatal error: Uncaught Error: Call to undefined method WPSEO_Options::set() in /home/sensatio/public_html/wp-content/plugins/wordpress-seo-premium/premium/premium.php:77 Stack trace: #0 /home/sensatio/public_html/wp-includes/class-wp-hook.php(286): WPSEO_Premium::inst

[2020-09-05 16:50] Djennez commented on #16007
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-09-05 16:50] #16007 closed

[2020-09-05 17:23] midlandsmaidens commented on #15863
I've given up on this, and have tranferred all of my websites over to Rank Math, who ensured me that there are no plans to put embedded timestamps into their meta snippets.

I'll leave the topic open in case anyone else wants to comment.

Bye!

[2020-09-06 00:45] xxl-escort opened #16008 "canonical wrong &preview=true&preview_id="
Dear
i use yoast and yoast video seo
sind the latest update 14.9 all new posts get the wrong canoncial tag.

for example my post ist
domain.com/video/my_great_video

the anonical tag is domain.com/?p=48479&preview=true&preview_id=48479

with the post ID
this is at all new posts creating after the update.
can you help please?

[2020-09-06 01:20] xxl-escort commented on #16008
hi there
this tool helps
https://wordpress.org/plugins/yoast-test-helper/

i reset the database

[2020-09-06 01:20] #16008 closed

[2020-09-06 06:15] oldskulltuning commented on #16006
Solved deleting the cache.

[2020-09-06 06:15] #16006 closed

[2020-09-06 13:18] gmmedia commented on #11802
Please!

[2020-09-07 06:41] Djennez commented on #16005
Does not seem to be an issue, maybe it's the font that you're using on your frontpages?
![image](https://user-images.githubusercontent.com/34372510/92355709-19d83c00-f0e5-11ea-8eaf-4ade8e99d8a3.png)

Anyway, closing this as a non-valid bugreport. This sounds more like a support request that you can put on the [support forums](https://wordpress.org/support/plugin/wordpress-seo/) or send to our supp

[2020-09-07 06:41] #16005 closed

[2020-09-07 07:55] jdevalk commented on #16001
Hey @doffine

I understand your position. At the same time we see that loads of users are not aware of the changes we make, so we need to find a good middle ground between your position, which I understand, and our problem of not being able to reach users. The auto update feature has made this problem even bigger.

We do have a filter already for this, I'll ask @Djennez to provide it below, I'm ju

[2020-09-07 07:58] Djennez commented on #16001
Heya @doffine, this filter should prevent the notifications from appearing in your dashboards:

[code]

[2020-09-07 08:07] Djennez commented on #15913
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-09-07 08:07] #15913 closed, assigned to nobody

[2020-09-07 08:07] Djennez commented on #15898
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-09-07 08:07] #15898 closed

[2020-09-07 08:08] Djennez commented on #15935
@behzadian any luck?

[2020-09-07 08:09] Djennez commented on #9344
As this ticket has seen no further action since its original post, en this code has been overhauled, I am going to close this issue.

[2020-09-07 08:09] #9344 closed

[2020-09-07 09:09] Djennez commented on #16004
I don't believe we've touched that code. The only code I can find from that Power Builder plugin is 4 years old, so I am not sure how much I can work with that.

I've presented this problem to one of our devs, and we think that this is an issue with the loading order that is set up from the Power Builder plugin. So I'd advise you to contact the developers of that plugin and provide them with the f

[2020-09-07 09:09] #16004 closed

[2020-09-07 11:07] johannadevos commented on #13594
@jono-alderson With regard to the third bullet point. Is this to say in other words that the `WebPage` `@type` should simply always be set to `WebPage` on password-protected pages?

[2020-09-07 11:55] jono-alderson commented on #13594
Yes please! :)

[2020-09-07 13:00] increddibelly commented on #13594
always, as in also when the user IS logged in and does have the appropriate privileges to see the page? that seems a bit strict and it may break things that depend on the page type.

[2020-09-07 13:03] jono-alderson commented on #13594
Yes; almost all schema consumption use-cases assume an external agent querying a page and extracting the data.
For the very rare use-cases where a person wants to run schema extraction in their browser / via an authenticated agent, they should probably be doing stuff with filtering and our API - that's way outside of Kansas 😆

Anything which breaks depending on the page type should break gracefull

[2020-09-07 13:20] jono-alderson commented on #13594
Also... I'm also wondering if we should alter the `name` property to `Private Page`, so that, e.g., plugins which produce invoices with customer names in the title don't accidentally expose those.

[2020-09-07 13:25] johannadevos commented on #13594
Sounds reasonable I think?

[2020-09-07 13:34] johannadevos commented on #13594
@jono-alderson So has the decision officially be made and can I implement this, or does it still need to run by the Product team?

[2020-09-07 13:34] jono-alderson commented on #13594
Let's get some feedback. Moving to Slack.

[2020-09-07 13:37] wpsumo commented on #14778
Any feedback on this?

Just see here form your competition:
https://theseoframework.com/changelog/4-1-1/

_In this major-minor update, we improved browser performance by up to 99% (not a typo) by exchanging over 300 jQuery calls for vanilla JS ones. We also added two new options for oEmbed, freed a dozen bugs that got stuck in the UI and generators, and improved accessibility._

### Performance:

[2020-09-07 19:36] doffine commented on #16001
Hey @jdevalk and @Djennez,

thanks for coming back to us so quick. This is great! First to your question: We use "Yoast SEO free" at the moment but maybe this will change in the future as we grow into more serious SEO more and more.

The filter provided above works like charm - thank you so much!

To the question whether a toggle would make sense: Of course you have to make the decision. We as an

[2020-09-08 03:35] PENTAGON4 opened #16017 "Bring back Date in Snippet for Posts"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I'd like to see the Date in Snippet for Posts put back. I like some of my blogs to have the date in the snippet.
## Why do you think this feature is something we should consider for the Yoast SEO plugins?
I think I use it and probably others do. Now we can't
## Additional context

[2020-09-08 06:33] Djennez commented on #16017
The date in the snippet preview is always-on, since 1 or 2 versions ago.

[2020-09-08 06:33] #16017 closed

[2020-09-08 09:08] Cm-8 opened #16018 ""Blind SQL Injection Attack" Allert on link_suggestions"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
On system logs of Apache I receive an **"COMODO WAF: Blind SQL Injection Attack"** allert from modsecurity on Plesk Wordpress To

[2020-09-08 09:32] Djennez commented on #16018
Calls to `/wp-json/yoast/v1/link_suggestions` use the parameter `object_type` which your WAF is triggering on, from what I can gather from your "report". This is a valid use, so I'm not sure what this issue is about. Closing it as such, as it doesn't contain any more information. If you have a security concern about our plugin, please contact us on our security e-mail address.

[2020-09-08 09:32] #16018 closed

[2020-09-08 10:29] jono-alderson commented on #13594
Update:
- Don't provide special conditions for logged-in users on password-protected pages (i.e., don't "un-remove" the schema)
- Don't alter the `name` property.

[2020-09-08 11:23] nathancrowd commented on #11079
Still having a similar issue, run this page through https://uk.expensereduction.com/page/42/?cat=-1 the google schema testing tool (https://search.google.com/structured-data/testing-tool/u/0/), gets an error "One of name or item.name must be provided." for the last item in the breadcrumbs, which is an archive page.

[2020-09-08 12:06] jrfnl opened #16021 "Bugs seen in CS thresholds implementation"
Some things I encountered with the current "CS thresholds" implementation and which are probably bugs:

### 1. PR build passed with lowering the thresholds, but the trunk merge build failed:

PR build: https://travis-ci.org/github/Yoast/wordpress-seo/jobs/721541137#L1830-L1831
Trunk merge: https://travis-ci.org/github/Yoast/wordpress-seo/jobs/721544642#L1832-L1833

### 2. Trunk merge - errors and

[2020-09-08 12:23] moorscode commented on #16021
https://travis-ci.org/github/Yoast/wordpress-seo/jobs/721933518

Cause of the problem:
[code]

[2020-09-08 12:25] jono-alderson commented on #11079
I'm struggling to recreate this locally with a new site, running the latest version of WP and Yoast SEO.

I've experimented with various combinations of static and 'latest posts' homepage / blog page settings, and, looked at various paginated states of homepage/category URLs - both with and without the `?cat=-1` parameter.

In all cases, I see that either:
- The canonical URL, schema URLs and brea

[2020-09-08 13:32] Pcosta88 commented on #11268
Please inform the customer of conversation # 647116 when this conversation has been closed.

[2020-09-08 19:27] TheronP commented on #16004
Yeah it looks like the Social metadata previews script is loading after the powerbuilder.

It seems like the main Yoats scripts are loading first but this one is not. I have tried using a plugin load order script but I do not beliwve it modifies the order of this particular js file.

From: Djennez <notifications@github.com>
Sent: Monday, September 07, 2020 4:10 AM
To: Yoast/wordpress-seo <wordpres

[2020-09-09 01:19] JMHendon opened #16027 "14.9 Breaks Site (WP DB Memory Error) if WP Author has Too Many Posts/Pages"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Note: This has been verified by the Yoast Tech Support Team and reproduced in a testing environment.

Version 14.9 of Yoast SEO

[2020-09-09 04:01] Webgyrl2 commented on #14642
Same issue. Entire site page shows secure EXCEPT the homepage. The only not secure URL on the homepage is the http://www.zippy.co.uk/keyworddensity/

[2020-09-09 05:02] kevin25 commented on #12894
Happened the same to me. Any fixes?

[2020-09-09 08:44] aleppos opened #16028 "Timeout when calling link_suggestions API using Cloudflare"
* [X] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [X] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Cloudflare waits 100 seconds for an HTTP response. If the origin doesn’t respond in that time, Cloudflare closes the connection

[2020-09-09 08:46] humet commented on #15959
@Djennez You will also need the premium Woocommerce integration plugin from LifterLMS. I've spoken to them and they can't send it over for testing.

They are going to look into it themselves. So I'm not sure if you need to keep this issue open anymore.

[2020-09-09 08:50] Djennez commented on #16027
@JMHendon what is the error, what steps do I need to take to reproduce the issue, exactly?

[2020-09-09 08:59] Djennez commented on #16028
Seems to be the same problem as reported here: https://github.com/Yoast/wordpress-seo/issues/15869 so I'm closing this as a duplicate.

[2020-09-09 08:59] #16028 closed

[2020-09-09 09:42] Djennez commented on #15959
Ok, thanks for the update. I'll close the issue for now, feel free to provide more information if the issue seems to be on our end and we'll look into reopening the issue.

[2020-09-09 09:42] #15959 closed

[2020-09-09 11:01] afercia commented on #16021
We just noticed that on Travis the threshold check runs but then the build passes even if the threshold has been not honored (at least with some branch names?).

When the errors exceed the threshold, the built is supposed to not pass.

For example, in this PR https://github.com/Yoast/wordpress-seo/pull/16012
there are 966 CS errors against a threshold of 960. However, the build passes.

Looking at

[2020-09-09 12:36] Djennez commented on #14000
I am going to close this request as I've found that:
- Most important; the return value is not parsed by any executing functions ( `isset()` and `in_array()` )
- The default filter `FILTER_UNSAFE_RAW` is invoked by default, which should strip potentially harmful data
- If we were to add this optional filter here, we should do so for every instance of `filter_input`, which might be something for a

[2020-09-09 12:36] #14000 closed

[2020-09-09 12:54] Djennez commented on #13856
I don't believe this is relevant anymore.

[2020-09-09 12:54] #13856 closed

[2020-09-09 13:03] Djennez commented on #13553
This was changed / fixed in language-helper.php. Closing.

[2020-09-09 13:03] #13553 closed

[2020-09-09 13:11] Djennez commented on #13503
I can no longer reproduce this, the
[code]

array seems to be omitted now if it only contains an image.

[2020-09-09 13:11] #13503 closed

[2020-09-09 13:17] Djennez commented on #13429
Since this workaround never made it into the code (from what I can gather, it's not in there on trunk at the moment anyway) there is also no need to rollback. And as core is no longer supporting PHP < 5.6, this is no longer relevant. Closing.

[2020-09-09 13:17] #13429 closed

[2020-09-09 13:47] Djennez commented on #13315
@reekes I was wondering if this is still relevant on the latest version, seeing as we've changed quite a lot in regards to building this schema and the indexables.

[2020-09-09 13:54] cyphereye-devops commented on #13315
@Djennez adding the author is always relevant, as it's part of the required fields in an article schema. That said, testing it just now it looks like this bug was fixed.

[2020-09-09 14:55] jvc9109 opened #16032 "\get_option( 'blog_public' ) always returns 0"
* [x ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

When the filters are setted for YoastSEO, no matter what it is set in Database, the option "blog_public" always returns 0. Me

[2020-09-09 18:21] JMHendon commented on #16027
Hi,

Here’s more detail:

1.	Specific server error:

2020/09/01 22:07:22 [error] 74469#74469: *13865287 FastCGI sent in stderr: "PHP message: WordPress database error Commands out of sync; you can't run this command now for query SELECT umeta_id FROM wp_usermeta WHERE meta_key = 'wp_yoast_notifications' AND user_id = 1 made by shutdown_action_hook, do_action('shutdown'), WP_Hook->do_action, WP_Hoo

[2020-09-10 07:53] Djennez commented on #16027
Ok, so I am unable to reproduce this. And from your errors, it looks like WordFence is sort of involved? So you might want to first try a conflict check to see if / which plugins are needed to reproduce this problem. It's not workable at the moment.

[2020-09-10 08:26] Djennez commented on #16032
Hi @jvc9109 , this seems like a support question. Normal core WordPress behavior would retrieve either a `0` or `1` for that option. It should be 1 if you've set your website to be public. You can check this value in the database directly. If it's 0 in there but it is set to public in the options, something weird is going on. If it is set to 1 in the database, but it keeps returning 0, my guess is

[2020-09-10 08:26] #16032 closed

[2020-09-10 08:34] Djennez commented on #13315
Thank you @cyphereye-devops , seeing if this issue was still around was the intent of my asking if this was still relevant :) If it's fixed, I'm going to go ahead and close this thread. Feel free to provide more info if it turns out to not be fixed.

[2020-09-10 08:34] #13315 closed

[2020-09-10 08:35] JMHendon commented on #16027
﻿
The error happens with no other plugins activated. We’ve tested it many times, including with the health check plugin.

If you can, you may want to check with the Yoast tech support team. They reproduced it on their end.

Or - you can use the credentials to the staging site below to see a reproduction of the bug:

Site: staging-ketodietteam.temp312.kinsta.cloud/wp-admin
Username: TempAdmin
PW: e

[2020-09-10 10:31] byronwilliams commented on #15437
To add another use case of this error. We are using the `WP Offload Media Lite` plugin which replaces the path with a URL, which `filesize` will fail on.

[code]

[2020-09-10 11:29] Djennez commented on #16027
We have an [internal issue (for developer reference)](https://yoast.atlassian.net/browse/QAK-2234) which could potentially be the same. It might be related to multiple posts with large amounts of metadata associated (so just a large amount of posts doesn't reproduce the error, my site is working fine with 2000+ pages). We're investigating it further.

[2020-09-10 15:49] JMHendon commented on #16027
Interesting. I wouldn’t have thought that pages on our sites have high levels of metadata on average, but perhaps.

Thanks

Jeremy

[2020-09-10 19:32] ThailandeAsie opened #16035 "Conflict with Meow Gallery and Lightbox plugins"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Strangely enough, this is not just one plugin that makes this bug happening, because wether it's Meow Gallery OR Meow Lightbox

[2020-09-10 20:38] jhanzuro opened #16036 "Sitemap is not being updated when posts are no-index by default"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
I'm setting to "no-index" posts by default, so sitemap_index.xml is not including them. Then I go to the only post that I want t

[2020-09-11 00:08] BreakingVap opened #16037 "Problem on Yoast Schema with blank ID"
Hello i have 2 problems with yoast schema.
The search console have found an error with JSON-LD on this code :

{"@context":"https://schema.org","@graph":[{"@type":["Person","Organization"],"@id":"https://www.breakingvap.fr/#/schema/person/72daa665f7ecd228463ff87b60651ea8","name":"BONNARD Thomas","image":{"@type":"ImageObject","@id":"https://www.breakingvap.fr/#personlogo","url":"https://secure.gra

[2020-09-11 05:48] galbaras opened #16038 "Database error: SQL Syntax contains "NULLWHERE""
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Error log shows the following SQL syntax error (`NULLWHERE`):

[code]

### Please describe what you expected to happen and why.

[2020-09-11 06:41] Djennez commented on #16037
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-09-11 06:41] #16037 closed

[2020-09-11 07:03] Djennez commented on #16038
Please provide steps to reproduce the issue. From the log I can only assume that at least one other plugin is involved in this (InfiniteWP?).

[2020-09-11 07:23] Djennez commented on #16036
Hi @jhanzuro , this is a duplicate of https://github.com/Yoast/wordpress-seo/issues/10187 which isn't going to be fixed (reasoning can be found at the link). Closing this.

[2020-09-11 07:23] #16036 closed

[2020-09-11 07:32] galbaras commented on #16038
This may have been triggered by InfiniteWP updating Yoast SEO, which triggered the update, but by the time `update_has_public_posts_on_attachments` comes along and creates the query, it's all you.

InfiniteWP is merely tracking the update activity into its history tables.

The ```SET `has_public_posts` = NULL``` bit makes me thing this is the update query at the end of `update_has_public_posts_on_

[2020-09-11 07:34] Djennez commented on #16035
@ThailandeAsie thank you for the report. I checked it out and the only thing I can find is that, as long as the slug is empty, the snippet preview shows "undefined". But as soon as you add a title, the slug updates and the "undefined" gets overwritten. Functionally, nothing seems to be broken, it's just a slight visual bug when creating a new post. Possibly caused by some javascript overlap.

If y

[2020-09-11 07:56] Djennez commented on #16038
So it looks like this was an edge case that was triggered by InfiniteWP saving a post to the database with not a lot of information. Eventually this ended up with a NULL in a query in our plugin which caused this error. However, the complete query that caused this seems to have been [rewritten in 14.9](https://github.com/Yoast/wordpress-seo-premium/commit/2da232bad98e28e041e4534db1955f5a139cb366)

[2020-09-11 08:52] Djennez commented on #12092
This issue does not seem reproducible / relevant anymore. Closing.

[2020-09-11 08:52] #12092 closed

[2020-09-11 09:44] Djennez commented on #11666
These files are non-existent anymore. Closing.

[2020-09-11 09:44] #11666 closed

[2020-09-11 09:54] Djennez commented on #11369
No longer seems valid. Closing.

[2020-09-11 09:54] #11369 closed

[2020-09-11 09:57] Djennez commented on #11237
No longer relevant (re-tested, one outbound link = green, changing it to nofollow causes green -> orange with the related warning).

[2020-09-11 09:57] #11237 closed

[2020-09-11 11:37] Djennez commented on #10142
I don't think it's expected within the scope of our plugin to change the variable. By changing the custom field name you're essentially deleting the old one and creating a new one, without a convenient way to track this. So the variable changes its name to default because it doesn't detect a field that corresponds to the name anymore.

Closing this as I don't see this getting fixed.

[2020-09-11 11:37] #10142 closed

[2020-09-11 14:48] ThailandeAsie commented on #16035
I forgot to precise that when doing this test, I did add a title to the article/page and saved it as a draft prior to check the preview. And so on my side, it says "undefined", even if the title is already prefilled... If deactivating the plugins mentioned above, the slug is then appearing as expected.

[2020-09-11 15:01] akritrime opened #16042 "14.9 update is breaking JetWooBuilder from crocoblock JetPlugins"
* [ x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [ x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
The quick view popup for a product plugin is pulling data about a random posts  instead of actual product information.

This i

[2020-09-11 18:55] doitlikejustin opened #16043 "SEO data index not working on multisite"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
On multisite clicking "Start processing and speed up your site now" does not work
![screenshot](https://d.pr/i/fxUIs0+)
and brin

[2020-09-11 19:39] Djennez commented on #16043
@doitlikejustin please perform a conflict check and provide details from your error log / browser console. After gatherling more information, provide steps to reproduce the issue. Your current report is more of a support request than a bugreport.

[2020-09-11 22:02] doitlikejustin commented on #16043
Here you go
![screenshot](https://d.pr/i/SLkCBD+)

Not sure what else I can provide. If you feel like this is a support request and not a bug then you can close this. It doesn't concern me I just thought I would share something I noticed.

[2020-09-11 22:03] doitlikejustin commented on #16043
Following up... we have 2 multisite installs and this happens on both in all browsers

[2020-09-12 17:12] Djennez commented on #16043
@doitlikejustin how do you have the domains of your multisites configured? And do you have any restrictions set on the WordPress API? Because the error shows that requests to our API endpoint are denied by an authorization error (403).

[2020-09-13 10:29] LifeIsADeflatingVest commented on #15987
**Update**

I think I've discovered something that must be relevant. The problem seems to be related to two things:

1. The presence of a cache plugin (I was using W3 Total Cache)
2. Posts linked to from posts written with the classic editor

As a first thing, I disabled page caching (this is not something I'd needed to do with versions < 14.9). After that, I realized (this might be counter-intuit

[2020-09-13 18:56] oliverbriansyson commented on #15987
Not sure this can be closed yet, in my case, 70% of my post has 0 outgoing internal links even though they are not, and updating the 30% that has outgoing internal links count does not actually update the link count unlike 14.8.

I am using w3 total cache and the default block editor for wordpress.

[2020-09-14 10:44] iamazik commented on #14429
Please inform the customer of conversation # 649453 when this conversation has been closed.

[2020-09-14 13:41] Josef37 commented on #15837
+1 from me

We ran into the same issue after using `wp_remove_object_terms` to programatically remove categories from posts.
Now there are 50 wrong breadcrumbs.

Are there any updates on this issue?
Or is there a way to update the breadcrumbs (`wp yoast index --reindex` did not help for us)?

Thank you

[2020-09-14 13:42] Djennez opened #16047 "Bulk index fails to save hierarchy correctly"
Since a few versions (at least 14.8, 14.9), starting a bulk-index on a site will not save ancestor data correctly in the hierarchy tables. This is due to a wrong order in saving indexables and hierarchy data.

Fixed with https://github.com/Yoast/wordpress-seo/pull/16046

[2020-09-14 13:45] Djennez opened #16048 "Term indexation generates lots of database errors"
Indexing terms / taxonomies will generate database errors due to wrong building of the query.

[code]

Fixed with https://github.com/Yoast/wordpress-seo/pull/16046

[2020-09-14 13:53] Djennez commented on #16042
@akritrime have you run a plugin / theme conflict check?

[2020-09-14 16:39] doitlikejustin commented on #16043
Let me look into that and get back to you, or close the request if it's a configuration issue. What's weird is we have a standard (non-multisite) install on the same server and it works fine.

[2020-09-14 20:29] akritrime commented on #16042
Yep. It's only happening when the Yoast plugin is enabled.

[2020-09-14 20:43] rmarcano commented on #12091
Please inform the customer of conversation # 649541 when this conversation has been closed.

[2020-09-15 11:45] Djennez commented on #15987
I may have found 2 issues that cause the different problems as described above.

For internal tracking purposes I am linking the internal issues [here](https://yoast.atlassian.net/browse/QAK-2254) and [here](https://yoast.atlassian.net/browse/QAK-2251).

One has to do with the saving order of our indexables (the incorrect 0 count). The other has to do with multithreading and theoretical race condi

[2020-09-15 12:01] Djennez commented on #15952
This thread will be closed due to inactivity.

If information was requested from the creator of this issue, please add that to this thread and we will look into reopening this.

If you have a similar issue, [follow this link to open a new bug report](http://kb.yoast.com/article/180-how-to-write-a-good-bug-report).

[2020-09-15 12:01] #15952 closed

[2020-09-15 12:11] DenverwithaDog opened #16051 "YOAST SEO configuration wizard not moving past step 9"
* [x ] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x ] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
Trying to set up my account using the Yoast SEO config wizard and it will not let me move past step 7. Error saving last step

[2020-09-15 12:17] Twansparant commented on #15559
I'm sorry it took me such a long time to reply, but unfortunately this issue is still occurring with the latest **version 14.9**.
It's the exact same error:
[code]

[2020-09-15 12:34] Djennez commented on #16051
We use GitHub exclusively for well-documented bug reports or feature requests. This is not a support forum for questions and case-specific support. To receive free support for Yoast SEO we have the following channels:
- [Yoast Knowledge base](http://kb.yoast.com/)
- [Support forums](https://wordpress.org/support/plugin/wordpress-seo) on WordPress.org

If you are a premium customer, you may also co

[2020-09-15 12:34] #16051 closed

[2020-09-15 15:17] exetico commented on #15936
I'm not sure, but will  #5939 fix problems with the following problems, too?
- `@id:null`
- `url:null`
- `name:""`

Google are complaining about name or item.name should be defined on these pages... All of these are within the @type, so hopefully it will be fixed with the mentioned merge.. But I would like to be 100% sure? :-)

Here's one example with bad schema data:
[code]
This is present on pag

[2020-09-16 01:10] abistak opened #16052 "Yoast Seo (14.9) - Broken theme post functionality"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.

Since installing the latest version of Yoast 14.9, it has broken an admin/contributor/editor post functionality of the Gonzo Th

[2020-09-16 01:16] abistak commented on #16052
thanks again

[2020-09-16 02:54] rumejan commented on #9526
Please inform the customer of conversation # 650030 when this conversation has been closed.

[2020-09-16 04:07] smerriman commented on #15994
I'm not sure why this has been classified as minor. ACF is installed on over a million sites, and its block features are being used by many developers.

The purpose of default values is that they're likely to not need changing; the result is that everyone who uses ACF blocks are now going to get broken results.

[2020-09-16 06:30] Djennez commented on #16052
Any errors in your browser console or server logs?

This is a paid theme, so I won't be able to investigate this. Having said that, the theme seems to have had its last update in 2016, over 4 years ago. So in general, I guess you should be better off finding another theme if this one does not get updated anymore.

[2020-09-16 07:14] LifeIsADeflatingVest commented on #15987
A couple of observations/questions:

When I started looking into the issue, some days ago, I had a new post which immediately showed 6 internal links, although I had not linked to it from any other post. This isn't consistent with the condition you describe (which of course could account for other similar cases). In other words, I can verify I had at least one case where a post showed multiple int

[2020-09-16 07:33] Djennez commented on #15994
I was able to reproduce the issue, though I have not had the time to dive into the specifics as to what causes this.

[2020-09-16 07:43] Djennez commented on #15936
The PR above is for the `null` type only. We are aware of other instances of our schema outputting empty or null values. I believe there are some issues open as well.

Because this particular issue will be solved with the 15.0 release of next week, I am closing this thread to keep the issues in line.

[2020-09-16 07:43] #15936 closed

[2020-09-16 07:50] Djennez commented on #15987
Yes, links in category and tag descriptions also count towards the internal link count of posts. I think that any public object that gets indexed by our plugin will have its links analyzed.

As for the indexables table, this is in your database. I would recommend only experienced users to go searching for that duplicates data.

[2020-09-16 11:22] iamazik commented on #6364
Please inform the customer of conversation # 650343 when this conversation has been closed.

[2020-09-16 12:12] jphorn commented on #15869
Is this being actively looked at? Last night with the Apple Event we were almost unable to update and publish any article due to continuous timeouts. I'm the site owner for which this issue has been reported (@stayallive is our freelance dev). This is a huge issue for large sites and I don't really understand how this has been labeled as Severity:Minor.

Are we able to safely rollback to pre 14.7?

[2020-09-16 13:41] emanuellopes opened #16057 "YoastSEO()->meta->for_home_page() is duplicating the home page breadcrumbs"
* [x] I've read and understood the [contribution guidelines](https://github.com/Yoast/wordpress-seo/blob/trunk/.github/CONTRIBUTING.md).
* [x] I've searched for any related issues and avoided creating a duplicate issue.

### Please give us a description of what happened.
I'm using this command YoastSEO()->meta->for_post( $post_id ); to retrieve all the SEO informations and output them as a JSON fo

[2020-09-16 13:55] abistak commented on #16052
Error messages are the same with Yoast installed and not installed :\

[2020-09-16 13:55] Djennez commented on #15869
Nope, unfortunately I have too little information about the circumstances under which this occurs. And without a way to reproduce the issue, I can't investigate it.

You may always do so, however, we don't support older versions of our plugin.

[2020-09-17 02:00] pmhb2011 commented on #5634
I would like to support [this previous comment](https://github.com/Yoast/wordpress-seo/issues/5634#issuecomment-257784040).

I would add to that list of examples, "ignore transition words" and "ignore this block".

It would also be helpful to have an easy way to set a target readability level. It can be impossible to bring FK Scores down in some contexts (for example, scientific / academic).

[2020-09-17 02:33] pmhb2011 commented on #6525
Hiya, this is very slightly beside the topic. The transition words link ("https://yoast.com/help/list-transition-words/") on the page you mention redirects to [Transition words: why and how to use them](https://yoast.com/transition-words-why-and-how-to-use-them/), which only has a short set of examples. Alos, is there somewhere to suggest / request additions to that list?

[2020-09-17 06:32] Djennez commented on #16057
@emanuellopes can you please expand upon your reproduction steps and the exact problem you're encountering? It's too vague of an issue in its current state.

[2020-09-17 07:40] amirassari2002 commented on #16018
Dear @Djennez

problem exist for me too. Yoast Link suggestion Analysis feature will be blocked by WAF (such as comodo and Modsecurity) by detecting activity as SQL Injection. (may this was false detection but it's only for **yoast seo 14.7+ release after support all languages** such as Arabic and Persian)

i saw this problem in Arabic and Persian Languages because of prominent_words encoding.

yo